<div class="setting">

 <h2>アカウント設定</h2>

 <div class="textcontents unit">

  <label for="demo" class="titleblock">User Name</label>
  <input type="text" id="demo" placeholder="User Name">



  <div>
   <p class="button btn_size-S">投稿</p>
  </div>

 </div><!--//textcontents-->

</div><!--//setting-->
