<div class="setting">

 <h2>アカウント設定</h2>

 <div class="textcontents unit">

  <div class="common_bottom">


  <label for="demo" class="titleblock">タイトル入力</label>
  <input type="text" id="demo" placeholder="Blog Title">

  {% include 'partial/common/input/pict-select.twig' %}

   <label class="titleblock">内容記入</label>
   <textarea id="item-description" class="form_size-L comon_layout" name="item_description" cols=40 rows=16></textarea>

   <p class="button btn_size-S">段落追加</p>
  </div><!-- /.unit -->

  <div>
   <p class="button btn_size-S">記事追加</p>
  </div>


  {% include 'partial/common/input/tag-select.twig' %}


  <div class="editmode button" id="rate_edit_btn" data-remodal-target="ItemEdit-rate">評価編集</div>


  <div>
   <p class="button btn_size-S">投稿</p>
  </div>

 </div><!--//textcontents-->


 {% embed "partial/common/modal/modal-itemedit-rate.twig" %}
 {# {% block ItemEditrate_Contents %}{% endblock ItemEditrate_Contents %} #}
 {% endembed %}

</div><!--//setting-->
