<style>
 .sticker_block{
  margin: auto;
  width: 600px;
 }

 .sticker_block dl{
  display: flex;
  margin-bottom: 25px;
 }

 .sticker_block dt{
  margin-right: 25px;
 }

 .sticker_block dt img{
width: 60px;
 }
</style>



 <article class="manual_icon">
 <h2>アカウント設定について</h2>

  <div class="sticker_block">

   <section class="linebox">
    <div class="top-border left"></div>
    <div class="top-border right"></div>

    <h3 class="linebox_title">ユーザー設定</h3>

    <div class="linbox_box common_bottom">
     <h4 class="font_change">ユーザーアイコン</h4>
     <p>
      ご自身のアカウントのアイコン画像を登録・変更できます。<br>
      ここでセンスが問われます。<br>
      画像を選択したら下の方にある「アバター更新」ボタンを押してください。
      登録・変更が反映されます。
     </p>
    </div>

    <div class="linbox_box common_bottom">
     <h4 class="font_change">GRAGe背景画像</h4>
     <p>
      ユーザー専用ページのGRAGeのカバー画像を登録・変更できます。<br>
      アイコンとカバー画像。
      画像を選択したら下の方にある「背景更新」ボタンを押してください。
      登録・変更が反映されます。
     </p>
    </div>
   </section><!--/.linebox-->

   <section class="linebox">
    <div class="top-border left"></div>
    <div class="top-border right"></div>

    <h3 class="linebox_title">基本情報設定</h3>

    <div class="linbox_box common_bottom">
     <p>
      通常のhammocks内で利用でしたら登録する必要はありませんが、hammocksでギアを販売したり購入する場合はここに登録が必要になります。<br>
      ここに登録した情報はギアの販売購入時以外は他のユーザーに表示されることはありません。
     </p>
    </div>
   </section><!--/.linebox-->

   <section class="linebox">
    <div class="top-border left"></div>
    <div class="top-border right"></div>

    <h3 class="linebox_title">購入者設定</h3>

    <div class="linbox_box common_bottom">
     <p>
      hammocksでギアを購入する場合はここに登録が必要になります。<br>
      ※出品者で本人確認が終わっているユーザーは登録の必要はありません。<br>
      出品者が安心して出品できるよう、購入者側も本人確認をさせてください。
     </p>
    </div>
   </section><!--/.linebox-->

   <section class="linebox">
    <div class="top-border left"></div>
    <div class="top-border right"></div>

    <h3 class="linebox_title">出品者設定</h3>

    <div class="linbox_box common_bottom">
     <h4 class="font_change">振込み先口座登録</h4>
     <p>
      hammocksでギアを出品する場合はここに登録が必要になります。<br>
      口座登録は売上代金の振込み先になります。
      振込指示をいただければここで登録したこうざに売上代金を振込みいたします。
     </p>
    </div>

    <div class="linbox_box common_bottom">
     <h4 class="font_change">本人確認書類の提出</h4>
     <p>
      hammocksでギアを出品する場合は本人確認書類の提出が必要になります。<br>
      ※購入者でSMS確認が終わっているユーザーも本人確認書類の提出が必要になります。<br>
      ユーザーが安心して購入できるよう、本人確認をさせてください。
     </p>
    </div>
   </section><!--/.linebox-->

  </div><!--//sticker_block-->

</article><!--//manual_icon-->
