<style>
 .sticker_block{
  margin: auto;
  width: 600px;
 }

 .sticker_block dl{
  display: flex;
  margin-bottom: 25px;
 }

 .sticker_block dt{
  margin-right: 25px;
 }

 .sticker_block dt img{
width: 60px;
 }
</style>



 <div class="manual_icon">

 <h2>ギア販売ページ</h2>


 <div class="sticker_block">

  <section class="linebox">
   <div class="top-border left"></div>
   <div class="top-border right"></div>

   <h3 class="linebox_title">登録ギア検索</h3>

   <div class="linbox_box common_bottom">
    <h4 class="font_change">各手数料</h4>
    <p>
     ・販売手数料 8％<br>
     ・コンビニ決済/銀行ネット/ATM支払手数料 100円<br>
     ・売上出金手数料 1出金あたり250円
    </p>
   </div>

   <div class="linbox_box common_bottom">
    <h4 class="font_change">売上申請入金タイミング</h4>
    <p>
     ・締日：毎週月曜日<br>
     ・入金日：翌営業日
    </p>
   </div>
  </section><!--/.linebox-->

 </div><!--//sticker_block-->


</div><!--//manual_icon-->
