<div class="">

<ul>
 <li>所持又は譲渡が銃刀法に違反する武器類又はモデルガン（火縄銃などの古式銃砲又は美術刀剣類については登録証を画像で確認できる状態であれば出品可能です）</li>
 <li>盗品（窃盗、強盗、詐欺、恐喝などの犯罪行為により取得されたもの）</li>
 <li>商品券、現行通貨、債券、有価証券、金融商品、貸金業にあたる商品。予約券、整理番号券などの一定の権利を表象する商品。転売が禁止された商品。</li>
 <li>宝くじ、勝馬投票券、totoなど</li>
 <li>毒物、劇物</li>
 <li>医薬品（漢方薬、動物用医薬品含む）、コンタクトレンズや注射針などの医療機器</li>
 <li>医薬品成分を含む健康食品、飲料、又は安全性の確認できない健康食品</li>
 <li>人体、臓器、細胞、血液又はそれに類するもの</li>
 <li>犯罪に使用されるおそれのある商品（超小型カメラ、盗聴器、開錠工具、スキミング装置など）</li>
 <li>食品衛生法及び都道府県条例の規定に違反する食品・飲料品</li>
 <li>開封済みアルコール類、酒税法等の関連法令に抵触するアルコール出品</li>
 <li>PSCマークが付加されていないレーザーポインター</li>
 <li>詳細情報（公演タイトル、開催日時、開催場所、座席番号）が確認できない興行チケット、チケットの予約番号</li>
 <li>不動産</li>
 <li>たばこ（ニコチンを含有する電子タバコも含む）</li>
 <li>下着（補正下着、ストッキング、タイツを含む。新品中古品を問わず出品禁止）</li>
 <li>使用済みの水着、学生服、体操服でクリーニング済みでは無いもの（出品時はクリーニング済みであることを明記すること）</li>
 <li>反社会的なもの又はそれに類するもの（盗撮映像、暴行映像、犯罪方法など）</li>
 <li>汚物、排泄物、廃棄物、動物死体、グロテスクな商品、清潔でない商品、その他嫌悪感・不快感を与える商品</li>
 <li>危険ドラッグ（脱法ドラッグ）、麻薬、覚せい剤、向精神薬などの薬物、大麻草や芥子などの植物、媚薬、精力剤、心身に悪影響を与えるシンナーやガスなど</li>
 <li>暴力団、不良集団、テロ組織、暴走族などに関係する商品</li>
</ul>


</div><!--//article-->
