<div class="order_status purchase">

<h2>購入リスト</h2>

 <div class="tabmenu" id="tab-menu">
  <ul>
   <li class="active"><em>取引中のもの<span>888</span></em></li>
   <li><em>取引が完了したもの</em></li>
  </ul>

  <!-- タブの中身 -->
  <div id="tab-box" class="textcontents">

   <div class="tab_content active">

    <div class="stick_gear">
     <a href="{{url('user/item/1')}}">
      <div class="pic squarebox">
       <img class="img_resize" src="http://placehold.it/500x500">
      </div><!--//pic-->
     </a>

     <div class="card_infomation">
      <p class="status">支払い完了待ち</p>
      <p class="brand_name">Brnd Name</p><!--//brand_name-->
      <h1 class="card_name">Card Title</h1><!--//card_name-->

     </div><!--/.card_infomation-->
     <div class="badge">
      <span></span>
     </div><!-- /.badge -->
    </div><!-- /.stick_gear -->


    <div class="stick_gear">
     <a href="{{url('user/item/1')}}">
      <div class="pic squarebox">
       <img class="img_resize" src="http://placehold.it/500x500">
      </div><!--//pic-->
     </a>

     <div class="card_infomation">
      <p class="status">発送準備中</p>
      <p class="brand_name">Brnd Name</p><!--//brand_name-->
      <h1 class="card_name">Card Title</h1><!--//card_name-->

     </div><!--/.card_infomation-->
     <div class="badge">
      <span></span>
     </div><!-- /.badge -->
    </div><!-- /.stick_gear -->

   </div><!--//tab_content-->


   <div class="tab_content">

    <div class="stick_gear">
     <a href="{{url('user/item/1')}}">
      <div class="pic squarebox">
       <img class="img_resize" src="http://placehold.it/500x500">
      </div><!--//pic-->
     </a>

     <div class="card_infomation">
      <p class="brand_name">Brnd Name</p><!--//brand_name-->
      <h1 class="card_name">Card Title</h1><!--//card_name-->
     </div><!--/.card_infomation-->
    </div><!-- /.stick_gear -->

   </div><!--//tab_content-->

  </div><!--//tab-box-->
 </div><!-- /.tab-menu -->


</div><!--//order_status-->
