<div class="setting">

 <h2>出品する準備</h2>

 <div class="textcontents unit">


  <div class="formcontents">
   <div class="form_gr common_bottom">
    <h3>出品する商品のこと</h3>


    <div class="drag-and-drop-area drag-and-drop-area-out">
     <span>
      <i class="fa fa-image"></i>
      Drag and drop your files
     </span>
    </div>

    <div id="my-awesome-dropzone" class="dropzone">
     <span>
      <i class="fa fa-image"></i>
      Drag and drop your files
     </span>
    </div>
    <div id="my-preview-dropzone" class="dropzone"></div>
    <input type="hidden" id="multi_id" value="1" />


    <label class="titleblock">商品説明</label>
    <textarea id="item-description" class="form_size-L comon_layout" name="item_description" cols=40 rows=8></textarea>

    <label for="demo" class="titleblock">商品の状態</label>
    <select name="" class="selectform">
     <option value="">---</option>
     <option value="1">新品、未使用</option>
     <option value="2">未使用に近い</option>
     <option value="3">目立った傷や汚れなし</option>
     <option value="4">やや傷や汚れあり</option>
     <option value="5">傷や汚れあり</option>
     <option value="6">全体的に状態が悪い</option>
    </select>

    <label for="demo" class="titleblock">捕捉</label>
    <input type="text" id="demo" placeholder="" class="form_size-L">

   </div><!--//form_gr-->
  </div><!-- /.formcontents -->




  <div class="formcontents">
   <div class="form_gr common_bottom">
    <h3>配送のこと</h3>
    <label for="demo" class="titleblock">配送料の負担</label>
    <select name="" class="selectform">
     <option value="">---</option>
     <option value="2">送料込み(出品者負担)</option>
     <option value="1">着払い(購入者負担)</option>
    </select>

    <label for="demo" class="titleblock">発送方法</label>
    <select name="" class="selectform">
     <option value="">---</option>
     <option value="1">未定</option>
     <option value="3">クロネコヤマト</option>
     <option value="4">ゆうパック</option>
     <option value="15">ゆうメール</option>
     <option value="2">ポスパケット</option>
    </select>

    <label for="demo" class="titleblock">発送元</label>
    <select name="" class="selectform">
     <option value="">---</option>
     <option value="">Item01</option>
     <option value="">Item02</option>
     <option value="">Item03</option>
     <option value="">Item04</option>
    </select>

    <label for="demo" class="titleblock">発送日までの日数</label>
    <select name="" class="selectform">
     <option value="">---</option>
     <option value="1">1~2日で発送</option>
     <option value="2">2~3日で発送</option>
     <option value="3">4~7日で発送</option>
    </select>

   </div><!--//form_gr-->
  </div><!-- /.formcontents -->



  <div class="formcontents">
   <div class="form_gr common_bottom">
    <h3>お金のこと</h3>

    <label for="demo" class="titleblock">値段</label>
    <input type="text" id="demo" placeholder="" class="form_size-L">

    <p>販売利益</p>

   </div><!--//form_gr-->
  </div><!-- /.formcontents -->


  <div>
   <p class="button btn_size-S">出品する</p>
  </div>

 </div><!--//textcontents-->

</div><!--//setting-->


<style>
 .drag-and-drop-area {
  color: #ccc;
  height: 200px;
  margin: 30px 0 20px;
  border-style: dashed;
  border-width: 2px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
 }

 .drag-and-drop-area-over {
  border-color: #0000FF;
 }

 .drag-and-drop-area-over span {
  opacity: 0.2;
 }

 .drag-and-drop-area-out {
  border-color: #ccc;
 }

 .drag-and-drop-area-out span {
  opacity: 1;
 }


 .dropzone{
  color: #ccc;
  height: 200px;
  margin: 30px 0 20px;
  border-style: dashed;
  border-width: 2px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
 }

 .drag-and-drop-area-over {
  border-color: #0000FF;
 }

 .drag-and-drop-area-over span {
  opacity: 0.2;
 }

 .drag-and-drop-area-out {
  border-color: #ccc;
 }

 .drag-and-drop-area-out span {
  opacity: 1;
 }
</style>
