<link rel="stylesheet" href="{{ asset('css/pages/tag.css') }}" media="all" />

<div class="brand">

 <h2 class="title">THE NORCE FACE</h2>

<div class="card_flex">
 {% include 'partial/common/card/publicItem.twig' %}
 {% include 'partial/common/card/publicItem.twig' %}
 {% include 'partial/common/card/publicItem.twig' %}
 {% include 'partial/common/card/publicItem.twig' %}
</div><!--//card_flex-->



</div><!--//brand-->
