<div class="">

 <h2>本人確認 携帯電話番号の確認</h2>

 <div class="textcontents unit">

 <label for="demo" class="titleblock">携帯電話の番号</label>
 <input type="text" id="demo" placeholder="携帯電話の番号を入力">

<p>
 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
</p>

<div>

 <p class="button btn_size-S">SMSを送信</p>
 <p>※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。</p>
</div>
 </div><!--//textcontents-->

</div>
