<div class="transaction textcontents">


<h2 class="transaction_status1st">第1ステータス</h2>

 <div class="linebox">

  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h3 class="transaction_status2nd linebox_title">第2ステータス</h3>

  <div class="transaction_details">
   <div class="stick_gear">

    <a href="{{url('user/item/1')}}">
     <div class="pic squarebox">
      <img class="img_resize" src="http://placehold.it/500x500">
     </div><!--//pic-->
    </a>

    <div class="card_infomation">
     <p class="brand_name">Brnd Name</p><!--//brand_name-->
     <h1 class="card_name">XPヘキサタープ/MDX</h1><!--//card_name-->
    </div><!--/.card_infomation-->

   </div><!-- /.stick_gear -->

   <div class="announcement">
    <p>合計金額<span class="price">¥20,600</span></p>
    <p class="limit">支払期限9月14日</p>
   </div><!-- /.announcement -->

  </div><!-- /.transaction_details -->
 </div><!-- /.linebox -->

<a class="button btn_size-M">取引ギア情報</a>
<a class="button btn_size-M">メッセージ</a>
<a class="button btn_size-M">運営事務局へお問い合わせ</a>


</div>
