@font-face {
  font-family: 'hammocks_font';
 src:  url('fonts/hammocksfont/hammocks_font.eot?6ujs2s');
 src:  url('fonts/hammocksfont/hammocks_font.eot?6ujs2s#iefix') format('embedded-opentype'),
  url('fonts/hammocksfont/hammocks_font.ttf?6ujs2s') format('truetype'),
  url('fonts/hammocksfont/hammocks_font.woff?6ujs2s') format('woff'),
  url('fonts/hammocksfont/hammocks_font.svg?6ujs2s#hammocks_font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hammocks_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-have:before {
  content: "\e900";
}
.icon-ico-feed-off:before {
  content: "\e901";
}
.icon-ico-have-off:before {
  content: "\e902";
}
.icon-ico-more:before {
  content: "\e903";
}
.icon-ico-payment:before {
  content: "\e904";
}
.icon-ico-sale:before {
  content: "\e905";
}
.icon-ico-share-off:before {
  content: "\e906";
}
.icon-ico-shipping:before {
  content: "\e907";
}
.icon-ico-want-off:before {
  content: "\e908";
}
.icon-ico-www:before {
  content: "\e909";
}
.icon-icon_tag:before {
  content: "\e90a";
}
.icon-ico-clip-off:before {
  content: "\e90b";
}
.icon-ico-comment-off:before {
  content: "\e90c";
}
.icon-ico-ban-off:before {
  content: "\e90d";
}
.icon-rate_thunder-off:before {
  content: "\1f323";
}

