{% extends "templates/common/transaction_base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block status1st %}
発送準備中
{% endblock %}

{% block status2nd %}
発送の準備をしています
{% endblock %}



{% block announce %}
<p class="limit">発送日目安 9月14日〜9月17日</p>
<p>発送連絡があるまでしばらくお待ち下さい</p>
<a href="3">テスト スキップ</a>
{% endblock %}

{% block UniqueModal %}
{% endblock %}

{% block bottom_js %}
{% endblock bottom_js %}
