{% extends "templates/common/transaction_base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block status1st %}
取引完了
{% endblock %}

{% block status2nd %}
取引が完了しました
{% endblock %}



{% block announce %}
<p>素敵なアウトドアライフを！！</p>
{% endblock %}

{% block UniqueModal %}
{% endblock %}

{% block bottom_js %}
{% endblock bottom_js %}
