//******************************* impoprt setting /
@import "compass";
@import "../core/color";
@import "../core/variables";
@import "../core/mixin";

//******************************* impoprt partial /
@import "../partial/item_card";
@import "../partial/gear_rating";

@import "../partial/cards";
@import "../partial/owlcarousel-custom";
@import "../partial/user_rating_cmment";
@import "../partial/tabmenu";
@import "../partial/status_icon-itemcard";
@import "../partial/progressbar";
@import "../partial/form/dropzone";

.sale{

 .item_card .card_visual {
  max-width: 500px;
 }

 .item_card .owl-carousel div{
   margin-bottom: 0px;
 }

 .item_card{
  padding-bottom: 25px;
  .status_icon{
   div:nth-child(-n+4){ flex-grow: 3;}
   div:nth-child(6){ margin-left: 12px;}
  }
  .card_infomation{
   float: right;
  }
 }//item_card


  .user_info{
   max-width: 500px;
   float: left;
   display: inline-block;
   border: 1px solid $line-color;
   width: 100%;
   padding: 20px;
   .authority_stamp{
    margin: auto auto 25px auto;
   }//.authority_stamp
  }//user_info
  .user_rating{
   @include flex_container();
   justify-content: space-around;
   margin-bottom: 0;
   img{
    max-width: 26px;
    a{
    cursor: pointer;
    &:hover{
     opacity:0.7;
     filter:alpha(opacity=70);
     -ms-filter: “alpha( opacity=70 )”;
    }
    }//a
   }//img

   div{
    @include flex_item();
    margin-bottom: 0;
    text-align: center;
   }
  }//user_rating

 .sale_info{
  i{
   display: inline-block;
   width: 27px;
   embed{max-width: 24px;}
  }

  .addcart{
   text-align: center;
   .cartbtn{
    display: block;
    margin: auto;
    width: 80px;
    border: 2px solid $main-color;
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;
   }
  }//addcart

 $val:0px;
 dt{
  padding-top : $val;
  padding-bottom : $val;
  width : 150px;
  float : left;
  clear : both;
 }

 dd{
  padding: $val 10px $val 0;
  margin-left : 160px;
 }


 }//sale_info

 .owl-thumb{
  -webkit-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;

 }

 .owl-thumb-item{
  width:100px;
  height: 100px;
  border: 1px solid $form_base_color;
  background: none;
  padding: 0;
  //margin: 0 4px 0 0;
  &:hover{cursor: pointer;}
  &:focus,&.active{
   outline: none;//1px solid $main-color ;
   img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
   }
  }
 }

 .owl-dots{
  display: none !important;
 }



 //breakpoints -------------------------------
 @include MQ(L) {

 }//breakpoints (L) -------------------------

 @include MQ(M) {

 }//breakpoints (M) -------------------------

 @include MQ(S) { }//breakpoints (S) -------------------------

} //sale



.mobile { //mobile setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //mobile end **********************************

.tablet { //tablet setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //tablet end **********************************
