//******************************* impoprt setting /
@import "compass";
@import "../core/color";
@import "../core/variables";
@import "../core/mixin";

//******************************* impoprt partial /
@import "../partial/tabmenu";

@import "../vendor/creditcard/card";
@import "../partial/form/pictselect";
@import "../partial/form/flatpickr";
@import "../partial/form/dropzone";


.setting {

 .tabmenu {
  max-width: $textcontents;
  width:100%;
  margin: auto;
 ul{
  @include flex_container();
  -webkit-flex-wrap: wrap;
  flex-wrap:wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  li{
   @include flex_item(1);
   padding: 14px 20px 14px 20px;
   border-bottom: 1px solid $text-color;
   margin: 0px auto 60px auto;
   //border-radius: 4px 4px 0px 0px;
   &.active {
    border: 1px solid $main-color;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
   }//active
  }//li
 }//ul
 }//.tabmenu ul

 .jp-card{
  margin-top: $common_mr-bt;
 }


 //Dropzone
 .usericon_set {
  .spotwrap{
   flex-grow: 1;
   &:first-child{flex-grow: 3;}
  }
 }

 #my-preview-dropzone{
  width: 120px;
 }//#my-preview-dropzone

 #my-preview-dropzone2{
  .dz-preview{
   .dz-remove{
    max-width: 120px;
    margin: 10px auto;
   }//dz-remove
   &.dz-image-preview{
    width: 100%;
    .dz-image{
     margin: auto;
    }//.dz-image
   }//.dz-image-preview
  }//.dz-preview
 }//#my-preview-dropzone2

 //breakpoints -------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------------

 @include MQ(M) { }//breakpoints (M) -------------------------

 @include MQ(S) {

  .tabmenu ul{
   li{
    flex: initial;
    //width: 33%;
    margin: 0 auto;
   }
  }//.tabmenu ul

  .jp-card{
   min-width: 100%;
  }

 }//breakpoints (S) -------------------------

} //setting


.mobile { //mobile setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //mobile end **********************************

.tablet { //tablet setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //tablet end **********************************
