//******************************* impoprt setting /
@import "compass";
@import "../core/color";
@import "../core/variables";
@import "../core/mixin";

//******************************* impoprt partial /
@import "../partial/layout/decoration";
@import "../partial/comment_timeline";
@import "../partial/listbox";


.transaction {
 .transaction_status2nd{
  text-align: center;
  color: $main-color;
 // margin-bottom: 50px;
 }

 .transaction_details{
  //border: 1px solid $line-color;
  padding: 50px 60px;
  margin-bottom: $common_mr-bt;

  .announcement{
   text-align: center;
   //margin: $common_mr-bt auto;
   .price{
    display: inline-block;
   }//price
  }//announcement
 }//transaction_details

 .list-gear{
  max-width: 100%;
 }

 //breakpoints -------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------------
 @include MQ(M) { }//breakpoints (M) -------------------------
 @include MQ(S) {

  .linebox{
   padding: 0px 25px 25px 25px;
  }//.linebox

  .transaction_details{
   padding: 0;
  }//transaction_details

  .listbox{
  &.list-gear{
   -webkit-flex-direction: column;
   flex-direction: column;
   .squarebox{
    width: 250px;
    height: 250px;
   }//.squarebox
   .card_infomation{
    text-align: center;
    margin: auto;
   }//.card_infomation
  }//.list-gear
  }//.listbox

 }//breakpoints (S) -------------------------

} //transaction

.userrating_modal{
 .authority_stamp{
  margin: auto;
  text-align: center;
  .user_thumb{
   max-width: 80px;
   margin: auto;
  }
  .name{
   //margin-left: 30px;
  }//name
 }//authority_stamp
}//userrating_modal


.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
