//******************************* impoprt setting /
@import "compass";
@import "../core/color";
@import "../core/variables";
@import "../core/mixin";

//******************************* impoprt partial /
//共通でsetting.css読み込み中
//
//@import "../partial/tabmenu";
@import "../partial/listbox";


.watching {

 //setting.scssと同じ内容
 .tabmenu {
  max-width: $textcontents;
  width:100%;
  margin: auto;
  ul{
   @include flex_container();
   -webkit-flex-wrap: wrap;
   flex-wrap:wrap;
   -webkit-justify-content: space-between; /* Safari */
   justify-content:         space-between;
   li{
    @include flex_item(1);
    padding: 14px 20px 14px 20px;
    border-bottom: 1px solid $text-color;
    margin: 0px auto 60px auto;
    //border-radius: 4px 4px 0px 0px;
    &.active {
     border: 1px solid $main-color;
     border-bottom: none;
     border-radius: 4px 4px 0px 0px;
    }//active
   }//li
  }//ul
 }//.tabmenu ul
 //setting.scssと同じ内容ここまで



 .list-gear{
  .btn_icon{display: block;}
  .price{
   display: block;
   text-align: left;
   display: inline-block;
   &:before{
    margin-right: 0;
   }
  }//price
 }//list-gear




 //breakpoints -------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------------
 @include MQ(M) { }//breakpoints (M) -------------------------
 @include MQ(S) { }//breakpoints (S) -------------------------

} //order_status


.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
