{% extends "templates/common/user_garage.twig" %}

{% block stylesheets %}{% endblock stylesheets %}
{% block top_js %}{% endblock top_js %}

{% block contents %}

<h2>Follow</h2>

{% include 'partial/common/list-user.twig' %}
<input type="hidden" id="follow_type" value="0">
{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/list.js') }}" ></script>
<script src="{{ asset('js/tmpUserList.js') }}" ></script>
<script>
var list = new List("#tmp_list_5", {
    url : getDomain() + consUrlJs.listPath[5],
    method : "post",
    owner_users_id : "{{ user_info.id }}",
    follow_type : 0,
    templete_id : 5
});
list.get();
</script>
{% endblock bottom_js %}
