<div class="remodal" data-remodal-id="Gnav-User" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block Ban_Contents %}
 <section class="UserMenu_panel">
  <h1></h1>

  {% include 'partial/sp/UserMenu.twig' %}

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
