<div class="remodal" data-remodal-id="Gnav-Search" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block Ban_Contents %}
 <section class="searchmenu">
  <h1>Searchr Menu</h1>
<ul>
 <li><a href="{{ url('/search/brand/1') }}">BRAND</a></li>
 <li><a href="{{ url('/search/category') }}">CATEGORY</a></li>
</ul>

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>
  <button data-remodal-action="confirm" class="button btn_size-M">OK</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
