//################################### website setting /

@mixin site-size {
 max-width:$SiteSize;
 min-width: auto;
}

 .contents {
  width: $contentswidth - ($sideAwidth + $sideBwidth);

 }//contents
 .sideA{
  width: $sideAwidth;
  @if $sideAwidth == 0% {
   display:none;
  }@else{
   display:block;
  }
 }//sideA
 .sideB{
  width: $sideBwidth;
  @if $sideBwidth == 0% {
   display:none;
  }@else{
   display:block;
  }
 }//sideB
