// clearfix /
.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}


.flex-layout{
 width: auto;
 margin-bottom: 1rem;		
 display: flex;
 justify-content: center;
 img{width:auto; vertical-align: bottom;}
 ul{display: flex; justify-content: center;flex-wrap: wrap;}
 li{
  flex: auto; margin: 4px; text-align: center;	
  p{
   width: 90%;
   text-align: center;
   margin: 0 auto;
  }//p
 }//li
}//flex-layout

.list-disc{list-style-type:disc;
 li{margin-left:10px;}
}//list-disc