//******************************* ID Class Name
$name: contents-name;
//ex.  ##{$name} .#{$name}

//******************************* root
$cssimg_path: "../img/";
$page_cssimg_path: "../img";
$img_path: "../img/";


//################################### website setting /
$SiteSize:1280px;
$contentswidth: 100%; //Fix
$sideAwidth: 0%;
$sideBwidth: 0%;


//******************************* Layer
$layer-1:-1;
$layer00:auto;
$layer01:1;
$layer02:2;
$layer98:9998;// header_layer
$layer99:9999;

//******************************* Layout /
$contents-padding:80px;
$header_height : 60px;
$common_mr-bt:25px;
$textcontents : 768 + px; //540px
$articlecontents : 540 + px; //540px
$formcontents : 540px;
$button_radius:20px;

//******************************* Responsive width /
$responsive-width:100%;

//******************************* px width → % width /
$main-width:1000px;
$conv_article: 600px / $main-width * 100%;


//******************************* Input mini width /
$input-mini-width:20%;


//******************************* Card Val /
$card_size:250px;
$S-card_size:335px;//SP時のカードサイズ

//******************************* breakpoints
$S:     480px;
$M:     768px;
$L:     1280px;
$maxL:    $L + 1px;
