{% extends "templates/common/base.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/setting.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

<h2>本人確認 SMS認証番号の入力</h2>

<div class="textcontents unit">

 <div class="formcontents">
  <div class="form_gr common_bottom">
   <label for="demo" class="titleblock">SMS認証番号</label>
   <input type="text" class="form_size-L" id="demo" placeholder="SMS認証番号を入力">

   <p class="common_bottom">本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。</p>
   <a href="" class="button btn_size-M">利用規約</a>

   <p class="common_bottom">SMSメールが届いていない方は下のボタンから再送信してください。</p>
   <p class="button btn_size-M common_bottom">SMSを再送信</p>

  </div><!-- /.form_gr -->
 </div><!-- /.formcontents -->


 <p class="button btn_size-M common_bottom">認証番号を送信</p>


</div><!--//textcontents-->
{% endblock contents %}

{% block bottom_js %}
{% endblock bottom_js %}
