{% extends "templates/common/base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block Body_class %}
<body class="{{ route_class }} guide">
 {% endblock Body_class %}

 {% block contents %}

 <h2>hammocks利用規約</h2>


 <div class="textcontents">
  {% include 'partial/common/text-aup.twig' %}
 </div><!-- /.textcontents -->


 {% endblock contents %}


 {% block bottom_js %}{% endblock bottom_js %}
