{% extends "templates/common/base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block Body_class %}
<body class="{{ route_class }} guide">
 {% endblock Body_class %}

 {% block contents %}

 <h2>特定商取引法に基づく表記</h2>


 <div class="textcontents">

  <dl class="common_dl">
   <dt>役務の内容</dt>
   <dd>1．「hammocks」を通じた個人間の売買取引を行うシステムの提供</dd>
   <dd>2．「ペイジェントスマート決済」を通じた商品代金の決済及び売上代金の出金サービス</dd>
  </dl>

  <dl class="common_dl">
   <dt>hammocks提供事業者</dt>
   <dd>株式会社 initialsite</dd>

   <dt>運営責任者</dt>
   <dd>菅沼秀隆</dd>

   <dt>所在地</dt>
   <dd>〒231-0047 神奈川県横浜市中区羽衣町3-55-1 VORT横浜関内7階</dd>

   <dt>連絡先</dt>
   <dd>045-250-6733<br>
    <span>※申し訳ありませんが、お取引やサービスについてのお問い合わせは電話では受け付けておりません。お手数ですが、お問い合わせについては個人情報保護などのためサービス内の「お問い合わせ」フォームよりご連絡をいただき対応させていただいております。ご不便をおかけいたしますが、ご理解ご協力をよろしくお願いいたします。</span>
   </dd>

   <dt>FAX番号</dt>
   <dd>045-250-6734</dd>

   <dt>営業時間</dt>
   <dd>平日 12時〜20時 土・日（休み）</dd>

   <dt>問い合わせ</dt>
   <dd>こちらのフォームよりお願いいたします</dd>

  </dl>

  <dl class="common_dl">
   <dt>ペイジェントスマート決済 提供事業者</dt>
   <dd>株式会社ペイジェント</dd>

   <dt>運営責任者</dt>
   <dd>土井　隆</dd>

   <dt>所在地</dt>
   <dd>〒150-8510 東京都渋谷区渋谷2-21-1</dd>

   <dt>連絡先</dt>
   <dd>03-4366-7270（受付時間：平日9-18時）</dd>
  </dl>

   <dl class="common_dl">

   <dt>役務の対価</dt>
   <dd>１．販売手数料<br>商品の売買取引の成立の都度、商品代金の8%（税抜）</dd>
   <dd>２．出金手数料<br>会員の銀行口座への売上代金の振込1回あたり250円（税抜）</dd>
   <dd>３．支払手数料<br>売買代金等の支払方法としてコンビニ又は銀行ネット決済、ATMの支払いを選択した場合1回あたり200円（税抜）</dd>


   <dt>役務の対価の支払方法・支払時期</dt>
   <dd>１．販売手数料<br>株式会社ペイジェントが提供する決済サービスにより、販売者が受領する商品代金から控除する方法によりお支払いいただきます。</dd>
   <dd>２．出金手数料<br>株式会社ペイジェントが提供する決済サービスにより、販売者が受領する商品代金から控除する方法によりお支払いいただきます。</dd>

   <dt>役務の提供時期</dt>
   <dd>hammocks会員登録の完了後、直ちにご利用いただけます。</dd>


  </dl>


 </div><!-- /.textcontents -->


 {% endblock contents %}


 {% block bottom_js %}{% endblock bottom_js %}
