{% extends "templates/common/base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block Body_class %}
<body class="{{ route_class }} guide">
 {% endblock Body_class %}

 {% block contents %}

 <h2>プライバシー・ポリシー</h2>


 <div class="textcontents">




 </div><!-- /.textcontents -->


 {% endblock contents %}


 {% block bottom_js %}{% endblock bottom_js %}
