{% extends "templates/common/base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block Body_class %}
<body class="{{ route_class }} guide">
 {% endblock Body_class %}

 {% block contents %}

 <h2>ご利用ガイド</h2>


 <div class="textcontents">

 <div>
  hammocks GRAGeはアウトドアなギアをみんなで語り尽くして、紹介して、リユースして楽しむ場所です。
  リユースといっても、使わなくなったギアを誰かに買ってもらう。使わなくなったギアをちょろっと手を加えてどぅーいっとゆあせるふ。
  勿論完全にオリジナルなギアも沢山出て来てほしいです。
  アウトドアギアと言われても今やインドアでも使えるものも沢山。

  hammocksはギアを通して、IN/OUTDOORなスタイルを展開して行こうと思っております。
 </div>


 </div><!-- /.textcontents -->


 {% endblock contents %}


 {% block bottom_js %}{% endblock bottom_js %}
