<header class="header">
 {% block header %}
<div class="header_wrap">

 {% include 'partial/pc/globalnavi.twig' %}


 <div class="level-item">
  {% include 'partial/common/searchbar.twig' %}

  {% if user.id %}
  <div class="fixed_menu">
   <div class="fixed_menu_contents">
    <div class="panel-wrap">

     {% include 'partial/pc/usermenu.twig' %}

    </div><!--//panel-wrap-->
   </div><!--//fixed_menu_contents-->
  </div><!--//fixed_menu-->
  {% endif %}


  <div class="fixed_menu">
   <div class="fixed_menu_contents">
    <div class="panel-wrap">

     {% include 'partial/pc/settingmenu.twig' %}

    </div><!--//panel-wrap-->
   </div><!--//fixed_menu_contents-->
  </div><!--//fixed_menu-->


 </div><!--//level-item-->


 </div><!--//header_wrap-->
 {% endblock header %}

</header>
