{% extends "templates/common/admin_base.twig" %}

{% block contents %}
<h2>管理画面 トップ</h2>


<ul>
<li><a href="{{url(path_prefix~'/user-register')}}" class="button btn_size-M">管理者登録</a></li>
 <li><a href="{{url(path_prefix~'/item-list')}}" class="button btn_size-M">マスターアイテム一覧</a></li>
 <li><a href="{{url(path_prefix~'/brands-register')}}" class="button btn_size-M">ブランド登録</a></li>
</ul>

 {% endblock contents %}
