<form>

<h2>Input Text要素</h2>

 <label for="demo" class="titleblock">INPUT TEXT</label>
  <input type="text" id="demo" placeholder="INPUT TEXT">


 <br> <br>

 <h2>Input password要素</h2>

 <label for="psdemo" class="titleblock">PASSWORD</label>
  <input type="password" id="psdemo" placeholder="PASSWORD">

 <br><br>

 <label for="text01" class="titleblock">INPUT TEXT</label>
 <input type="text" size="40" id="text01" placeholder="INPUT TEXT">

 <br><br>

 <label for="custom01" class="titleblock">label</label>
  <input type="text" id="custom01"  placeholder="label">

 <br><br>

<h2>Select要素</h2>
<label class="selectform">
 <select>
  <option value="">Item01</option>
  <option value="">Item02</option>
  <option value="">Item03</option>
  <option value="">Item04</option>
 </select>
 </label>

 <select class="selectform">
  <option value="">Item01</option>
  <option value="">Item02</option>
  <option value="">Item03</option>
  <option value="">Item04</option>
 </select>


 <br><br>

<h2>ラジオボタン</h2>
 <input type="radio" id="radio01" class="radiobtn" name="demo">
 <label for="radio01">foo</label>

 <input type="radio" id="radio02" class="radiobtn" name="demo">
 <label for="radio02">bar</label>

 <input type="radio" id="radio03" class="radiobtn" name="demo">
 <label for="radio03">baz</label>

 <br><br>

<h2>チェックボックス</h2>
 <input type="checkbox" id="checkbox01" name="demo" class="checkbox">
 <label for="checkbox01">foo</label>

 <input type="checkbox" id="checkbox02" name="demo" class="checkbox">
 <label for="checkbox02">bar</label>

 <input type="checkbox" id="checkbox03" name="demo" class="checkbox">
 <label for="checkbox03">baz</label>

 <br><br>

<h2>チェックボックスでトグルボタン</h2>
 <input type="checkbox" id="toggledemo01" class="togglebtn" checked >
 <label for="toggledemo01" data-on-label="On" data-off-label="Off"></label>

 <br><br>

<h2>テキストエリア</h2>
 <textarea rows="10" placeholder="テキストエリア"></textarea>

 <br><br>

<h2>Input resetとsubmit</h2>
 <input type="reset" value="Reset" class="button btn_size-M reset_cancell-b">

 <input type="submit" value="Submit" class="button btn_size-M">

<h2>button要素</h2>
 <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>

 <button data-remodal-action="confirm" class="button btn_size-M">OK</button>

 <h2>日付選択</h2>
 <label for="hiduke" class="titleblock">日付選択</label>
 <input type="date" id="hiduke" name="date">


 <label for="demo" class="titleblock">氏名</label>
 <input type="text" id="demo" class="form_size-L" name="name" autocomplete="name" placeholder="碇矢 長一" value="">

 <label for="demo" class="titleblock">フリガナ</label>
 <input type="text" id="demo" class="form_size-L" placeholder="イカリヤ　チョウイチ" value="">


 <label for="demo" class="titleblock">メールアドレス</label>
 <input type="email" id="demo" class="form_size-L" name="email" autocomplete="email" placeholder="hammocks@mail.com" value="">


 <label for="demo" class="titleblock">電話番号</label>
 <input type="tel" id="demo" class="form_size-L" name="tel" autocomplete="tel" value="045-250-6733">


 <div class="common_bottom">
  <label for="demo" class="titleblock">住所</label>
  <div class="form_gr">
   <label for="demo" class="titleblock">郵便番号</label>
   <input type="text" name="zip01" class="form_size-L" onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');" name="postal-code" autocomplete="postal-code">


   <label for="demo" class="titleblock">都道府県</label>
   <select name="pref01" class="selectform" name="address-level1">
    <option value="">-- 選択してください --</option>
    <option value="北海道">北海道</option>
    <option value="青森県">青森県</option>
    <option value="岩手県">岩手県</option>
    <option value="宮城県">宮城県</option>
    <option value="秋田県">秋田県</option>
    <option value="山形県">山形県</option>
    <option value="福島県">福島県</option>
    <option value="茨城県">茨城県</option>
    <option value="栃木県">栃木県</option>
    <option value="群馬県">群馬県</option>
    <option value="埼玉県">埼玉県</option>
    <option value="千葉県">千葉県</option>
    <option value="東京都">東京都</option>
    <option value="神奈川県">神奈川県</option>
    <option value="新潟県">新潟県</option>
    <option value="富山県">富山県</option>
    <option value="石川県">石川県</option>
    <option value="福井県">福井県</option>
    <option value="山梨県">山梨県</option>
    <option value="長野県">長野県</option>
    <option value="岐阜県">岐阜県</option>
    <option value="静岡県">静岡県</option>
    <option value="愛知県">愛知県</option>
    <option value="三重県">三重県</option>
    <option value="滋賀県">滋賀県</option>
    <option value="京都府">京都府</option>
    <option value="大阪府">大阪府</option>
    <option value="兵庫県">兵庫県</option>
    <option value="奈良県">奈良県</option>
    <option value="和歌山県">和歌山県</option>
    <option value="鳥取県">鳥取県</option>
    <option value="島根県">島根県</option>
    <option value="岡山県">岡山県</option>
    <option value="広島県">広島県</option>
    <option value="山口県">山口県</option>
    <option value="徳島県">徳島県</option>
    <option value="香川県">香川県</option>
    <option value="愛媛県">愛媛県</option>
    <option value="高知県">高知県</option>
    <option value="福岡県">福岡県</option>
    <option value="佐賀県">佐賀県</option>
    <option value="長崎県">長崎県</option>
    <option value="熊本県">熊本県</option>
    <option value="大分県">大分県</option>
    <option value="宮崎県">宮崎県</option>
    <option value="鹿児島県">鹿児島県</option>
    <option value="沖縄県">沖縄県</option>
   </select>


   <!-- ▼住所入力フィールド(都道府県以降の住所) -->
   <label for="demo" class="titleblock">市区町村番地など</label>
   <input type="text" name="addr01" class="form_size-L" name="address-level2" autocomplete="address-level2">


   <label for="demo" class="titleblock">ビル・建物名</label>
   <input type="text" id="demo" placeholder="" class="form_size-L" name="address-line1" autocomplete="address-line1">
  </div><!--/.form_gr-->
 </div><!-- /.common_bottom -->

</form>
