.mobile{

 .slide_down{//
  &:after{
   cursor: pointer;
   width: 24px;
   height: 24px;
   background-color: $main-color;
   border-radius: 100%;
   text-align: center;
   display: inline-block;
   margin-left: 8px;
   color: $base-color;
   font-family: "FontAwesome";
   content: "\f107";
  }//after
  & + ul{
   display:none;
   margin-top: 12px;
  }//ul
  &.open{
   &:after{
    content: "\f106";
   }
  }//open
  &:hover{
   opacity: 0.5;
  }
 }//slide_down

//Gyro setting **********************************
 @media screen and (orientation:portrait) { }//portrait
 @media screen and (orientation:landscape) { }//landscape
//end Gyro setting ******************************


}//mobile end ***************************************
