<div id="container_choice" class="comon_layout">
 <label class="titleblock">入れるコンテナ選択</label>
 <select name="ContainerSelect" id="containerselect" class="selectform">
<option value="">-- 選択 --</option>
{% for container in containers %}
  <option value="{{ container.id }}">{{ container.name }}</option>
{% endfor %}
  <option value="add_container">新規作成</option>
</select><!--//ContainerSelect-->
</div><!--//container_choice-->

<div id="toggle-make_container" class="comon_layout" style="display:none;">
 <label for="make_container" class="titleblock">コンテナ作成</label>
<input type="text" id="make_container" name="MakeContainer" placeholder="コンテナ名入力">
<p id="container-regist-btn" class="button btn_size-S">コンテナを登録</p>
</div><!--//toggle-make_container-->
