 <div class="card-wrapper common_bottom"></div>

<div class="form-container common_bottom active">
  <form action="" id="card_info">
   <label for="cardnumber" class="titleblock">カード番号</label>
   <input type="tel" id="cardnumber" name="cardnumber" class="form_size-L" placeholder="123456789000">

   <label for="cardname" class="titleblock">お名前</label>
   <input type="text" id="cardname" name="cardname" class="form_size-L" placeholder="Namae Myouji" >

   <label for="expiry" class="titleblock">有効期限(月/年)</label>
   <input type="tel" id="expiry" name="expiry" class="form_size-L" placeholder="01/17">

   <label for="cvc" class="titleblock">セキュリティコード</label>
   <input type="number" id="cvc" name="cvc" class="form_size-L" placeholder="111">

  </form>
</div><!--//form-container-->

