<p class="titleblock">画像を引用するサイトURLを入力</p>
<input type="text" id="pict-select-url" class="comon_layout form_size-L" name="site_img_url" value="" placeholder="URL">
<p id="pict-select-url-button" data-remodal-target="Pict_select_url" class="button btn_size-S">検索</p>
<input type="hidden" id="pict_result_img" name="pict_result_img" value="" />
<div class="pict_result_disp"><img id="pict_result_disp_img" src="" /></div>
