<div class="pictselect">
 <p class="titleblock">画像を選択</p>
 <div id="my-awesome-dropzone" class="dropzone">
  <span>
   <i class="fa fa-image"></i>
  </span>
 </div><!--//my-awesome-dropzone-->

 <div id="my-preview-dropzone" class="dropzone previewzone"></div>
 <input type="hidden" id="multi_id" value="{{ items.items_id }}" />

 <input type="hidden" value="" name="pict-ok" id="pict-ok">
</div><!--//pictselect-->
