<div class="common_bottom">
 <label for="demo" class="titleblock">電話番号</label>
 <input type="tel" id="phone_num" class="form_size-L" name="tel" autocomplete="tel" value="{{ user_info.secret_profile.phone }}">
 {% if user_info.secret_profile.is_certificate_auth == 1 %}
 <p class="button btn_size-M disable-b">本人認証済</p>
 {% elseif user_info.secret_profile.is_sms_auth == 1 %}
 <p class="button btn_size-M disable-b">SMS認証済</p>
 {% else %}
 <a class="button btn_size-M" id="sms_send_btn">SMS認証をする</a>
 {% endif %}
</div><!--//common_bottom-->
