{% extends "templates/common/base.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/setting.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('css/pages/order_status.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

<h2>出品リスト</h2>
<div class="order_status">
 <div class="tabmenu" id="tab-menu">
  <ul>
   <li class="active"><em>取引中のもの<span>888</span></em></li>
   <li><em>取引が完了したもの</em></li>
  </ul>

  <!-- タブの中身 -->
  <div id="tab-box" class="textcontents">

   <div class="tab_content active">
    {% include 'partial/common/list-gear.twig' %}
    {% include 'partial/common/list-gear.twig' %}
   </div><!--//tab_content-->


   <div class="tab_content">
    {% include 'partial/common/list-gear.twig' %}
   </div><!--//tab_content-->

  </div><!--//tab-box-->
 </div><!-- /.tab-menu -->
</div><!--//order_status-->
{% endblock contents %}


{% block bottom_js %}
<script>
 $(function(){
  $('#tab-menu li').on('click', function(){
   if($(this).not('active')){
    // タブメニュー
    $(this).addClass('active').siblings('li').removeClass('active');
    // タブの中身
    var index = $('#tab-menu li').index(this);
    $('#tab-box .tab_content').eq(index).addClass('active').siblings('.tab_content').removeClass('active');
   }
  });
 });
</script>

{% endblock bottom_js %}
