.articlepreview{

 //.title{  margin-bottom: 20px;

 $clip_size:36px;
 $clip_position:95px;
 .articleclip{
  position: absolute;
  top: $clip_position;
  right: 20px;
  content: " ";
  display: inline-block;
  width: $clip_size;
  height: $clip_size;
  text-align: center;
  vertical-align: middle;
  background-color: $line-color;
  border-radius: 50% 0 0% 50%;
  padding: 6px;
  img{margin-left: 10px;}
 }//articleclip

 .articleclip_recta{
  background-color: $line-color;
  width: $clip_size;
  height: $clip_size;
  position: absolute;
  right: 0;
  top: $clip_position;
 }

 //記事設定
 .gear_article{
  max-width: 550px;

  .article-header{
   text-align: center;
   .gear_name{
   text-align: center;
   }//.gear_name
  }//.article-header

  article{
   margin-bottom: 60px;
   .title{
    margin-top: 60px;
   }//.title
   .article_img{
    width: 100%;
   }//.article_img
  }//article


.article-footer{
 margin: auto;
 border-top: none;
 padding-top: 0px;
   .authority_stamp{
    display: inline-flex;
   }//authority_stamp
  }//article-footer

  .paragraph-footer{
   .tagarea{margin-bottom: 50px;}
  } //.paragraph-footer

  .timelinebtn{
   display: inline-block;

   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;

   &:before{
    content: '';
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    background: #ccc;
    min-width: 20px;
    display: inline-block;
    vertical-align: middle;
   }
   &:before {
    margin-right: 20px;
   }

   i{margin-left: 5px;}

  }//.timelinebtn

 }//.gear_artilce

 .category_nav{//item_card.sassと同じ
  li{
   display: inline;
   &:after{
    content: ">";
    margin: 0 0.5em;
   }
   &:last-child{
    &:after{
     content: "";
     margin: 0 0 0 0.5em;
    }
   }
  }//li
 }//category_nav


 @include MQ(maxL) { //----------------------
 }//breakpoints (maxL) ----------------------

 @include MQ(M) { //-------------------------
 }//breakpoints (M) -------------------------

 @include MQ(S) { //-------------------------
 }//breakpoints (S) -------------------------


}//articlepreview

.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************

