@import "tag_nav";
@import "authority_stamp";

//Cardの並び数
$card_qt:5;

.card_flex{
 @include flex_container();
 -webkit-flex-wrap: wrap;
 flex-wrap:wrap;
 -webkit-justify-content: space-between; /* Safari */
 justify-content:         space-between;

 section{
  @include flex_item();
  //justify-content: space-between;
  //flex-wrap: wrap;
  //align-items: stretch;
  //flex-basis: 18%;

  //cardのレイアウト次第で以下調整考える
  //&:nth-child(5n){margin-right: 0;}
 // &:nth-child(5n+1){margin-left: 0;}

 }
}//card_flex

.card {
 text-align: center;
 margin-bottom: 20px;
 max-width: $card_size;
 &:first-child{margin-left: 0;}
 .pic{margin-bottom: 10px; }//pic
 div{    margin-bottom: 10px;}
 .brand_name{}
 .item_name{
  //margin-bottom: 20px;
  margin: auto;
 }//item_name

 .status_icon{
  @include flex_container();
  max-width: 300px;
  div{
   -webkit-flex-grow: 4; /* Safari */
   flex-grow:         4;
   @include flex_item(1);
   img{
    max-width: 20px;
    cursor: pointer;
    &:hover{
     opacity:0.7;
     filter:alpha(opacity=70);
     -ms-filter: “alpha( opacity=70 )”;
    }
   }//img
   span{
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
   }//span
  }//div
  &.set_6p{
   max-width: 400px;
  }
  &.set_5p{
   max-width: 320px;
  }
  .subbtn{
   margin-right: auto;
  }
 }//status_icon

 .category_nav{
  li{
   display: inline;
   &:after{
    content: ">";
    margin: 0 0.5em;
   }
   &:last-child{
    &:after{
     content: "";
     margin: 0 0 0 0.5em;
    }
   }
  }//li
 }//category_nav


 @include MQ(maxL) { //----------------------
 }//breakpoints (maxL) ----------------------

 @include MQ(M) { //-------------------------
 }//breakpoints (M) -------------------------

 @include MQ(S) { //-------------------------

  max-width: $S-card_size;
  margin: auto auto $common_mr-bt auto;
  &:first-child{
   margin-left: auto;
  }
 }//breakpoints (S) -------------------------


}//card

%del_btn{//partial化したい
 $bordersize:1px;
 width: 30px;
 height: 30px;
 position: absolute;
 right: 6px;
 top: 6px;
 border: $bordersize solid $main-color;
 border-radius: 100%;
 cursor: pointer;
 color: $main-color;
 font-size: 20px;
 background-color: rgba(252, 251, 249, 0.4);
 &:after{
  content:"×";
  margin-left: $bordersize;
  margin-top: $bordersize;
  display: inline-block;
 }//after
}//del_btn

.publicitemcard-line{
 border: 1px solid $line-color;
 .pubitempic{
  padding: 20px;
  margin: auto;
 }
 .squarebox2{
  width: 160px;
  height: 160px;
  //margin: 20px auto;
 }
 .pic{margin: 0;}
}//publicitemcard

.publicitemcard{
 .pic{margin: 0; position: relative;}
 .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent $main-color;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
 }//.triangle

 .price{
  $squareboxsize:250px;
  color: $default-color;
  transform: rotate(-135deg);
  left: -14px;
  top: 14px;
  position: absolute;
  height: $squareboxsize;
  width: $squareboxsize;
  span {
   transform: rotate(180deg);
   $ribon_size:36px;
   text-align: center;
   display: block;
   width: 100%;
   height: $ribon_size;
   line-height: $ribon_size;
   background: $main-color;
   color: $default-color;
   //font-size: 25px;
   &:before{
    content: "¥";
   }
  }//span
 }//price

 .follow_trend_info{
  border-bottom: 1px solid $line-color;
  border-top:1px solid $line-color;
  text-align: left;
  margin-top: -10px;
  padding: 10px 0;
  p{}
 }

 .card_infomation{
  margin-top: 10px;
 }

 @include MQ(S) { //-------------------------
  .squarebox{
   width: $S-card_size;
   height: $S-card_size;
  }//.squarebox

  .price{
   $squareboxsize:$S-card_size;
   left: -26px;
   top: 26px;
   height: $squareboxsize;
   width: $squareboxsize;
  }//price

 }//breakpoints (S) -------------------------

}//publicitemcard

.masterphotocard{
 position: relative;
 .user_thumb{
  width: 24px;
  height: 24px;
 }
}//masterphoto

.articlecard{
 position: relative;
 .authority_stamp{
  -webkit-justify-content: center;
  justify-content: center;
 }//.authority_stamp
 .user_thumb{
width: 24px;
  height: 24px;
 }
 .del_btn{  @extend %del_btn; }//del_btn
}

.salecard{
 position: relative;
 .user_thumb{
  position: absolute;
  top: 16px;
  left: 16px;
 }
}//salecard

.usercard{
 $pc-width:500px;
 $user_thume:80px;
 $info-width:338px;
 $sukima:32px;
 $feedicon:40px;

 max-width: $pc-width;
 margin: auto;
 @include flex_container();
 -webkit-align-items: center; /* Safari */
 align-items:         center;
 border: 1px solid $line-color;
 padding: 24px;
 margin-bottom: 48px;

 .user_thumb{
  max-width: 80px;
  @include flex_item(2);
 }//user_thumb

 .card_infomation{
  @include flex_item(7);

  width: calc(#{$info-width} - (#{$sukima} + #{$feedicon}));
  margin-left: $sukima;
  .name{
   font-size: 18px;
   font-size: 1.8rem;
   margin: 0 auto 10px auto;
  }//name
  .status_icon{
   max-width: 240px;
   div {
    img {
     max-width: 20px;
     cursor: auto;
     &:hover {
      opacity: 1;
     }//hover
    }//img
    span{
     font-size: 10px;
     font-size: 1.0rem;
    }//span
   }//div
  }//status_icon

 }//card_infomation

.followbtn{
 @include flex_item();
 max-width:$feedicon;
}

}//usercard

.containercard{
 position: relative;
 border: 1px solid $line-color;
 text-align: center;
 padding: 20px;
 margin-bottom: 20px;
 cursor: pointer;
 max-width: 200px;
 &:hover{
  opacity:0.7;
  filter:alpha(opacity=70);
  -ms-filter: “alpha( opacity=70 )”;
 }

 .triangle{
  $triangle_size:60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px $triangle_size $triangle_size;
  border-color: transparent transparent transparent $main-color;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;

  &.lock,&.unlock{
   span{
   &::after{
    $size : 30px;
    $pad : 4px;
    $iconsize: $size - ($pad *2);
    width: $iconsize;
    height: $iconsize;
    padding: $pad;
    position: absolute;
    left:- $triangle_size;
    top: 2px;
    border-radius: 100%;
   }
   }//span
  }//.lock,.unlock
  &.lock{
   span{
   &::after{
    content: url("../img/ico-lock.svg");
   }
   }//span
  }//lock
  &.unlock{
   span{
   &::after{
    content: url("../img/ico-unlock.svg");
   }
   }//span
  }//unlock
 }//.triangle
 .del_btn{  @extend %del_btn; }//del_btn
}//containercard
.remodal{
 .containercard{  max-width: 190px; }//.containercard
}//.remodal

//breakpoints -------------------------------
@include MQ(maxL) { }//breakpoints (maxL) -------------------------
@include MQ(M) { }//breakpoints (M) -------------------------
@include MQ(S) {

 .containercard{
  max-width: $S-card_size;
  margin: auto auto $common_mr-bt auto;
  &:first-child{
   margin-left: auto;
  }
 }//.containercard

}//breakpoints (S) -------------------------


.mobile { //mobile setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //mobile end **********************************

.tablet { //tablet setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //tablet end **********************************
