
.collapse{

 .slide_btn{
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: $main-color;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 20%;
  top: 14px;
  &:after{
   color: $base-color;
   font-family: "FontAwesome";
   content: "\f107";
  }//after
  & + ul{
   display:none;
  }//ul
  &.open{
   &:after{
    content: "\f106";
   }
  }//open
  &:hover{
   opacity: 0.5;
  }
 }//slide_btn

 li{
  position: relative;
  span{
   width: 60%;
   margin: 10px auto;
   max-width: 300px;
   display: inline-block;
   padding: 6px 0px;
   background-color: transparent;
   text-align: left;
   cursor: pointer;
   border-bottom: 1px solid $line-color;
   &:hover{
    opacity:0.7;
    filter:alpha(opacity=70);
    -ms-filter: “alpha( opacity=70 )”;
   }
  }//span
 }//li

 .first_layer{
  li{
   span{
    //border-color:$text-color;
    padding-left: 20px;
    border-left: 1px solid $line-color;
   }//span
   .slide_btn{
    background-color: transparent;
    border: 1px solid $main-color;
    &:after{
     color: $main-color;
    }
    }//.slide_btn
  }//li
 }//first_layer

 .second_layer{
  li{
   span{
    //border-color:$text-color;
    padding-left: 20px;
    border-left: 1px solid $line-color;
    margin-left: 25px;
   }//span
  }//li
 }//second_layer


}//collapse




.mobile { //mobile setting **********************
 .collapse{

  li{
   span{width: 80%;}
  }//li
  .slide_btn{ right: 10%; }//.slide_btn


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

 }//collapse
} //mobile end **********************************
