.comment_timeline{
 $autor_size:70px;
 margin-top: 40px;

 .timeline{
  //background-color: $second-color;
  //padding: 20px 10px;

  li{
   overflow:hidden;
   margin-bottom: 20px;
   position: relative;
  }
  .author{
   //text-align:center;
   //width:$autor_size;
  }

  .balloon{
   position:relative;
   //color:#36393d;
   //font-size:14px;
   //line-height:20px;
   padding:15px;
   border-radius:8px;
   text-align: left;

   .name{
    color: $main-color;
    display: block;
   }//name

   &:before,:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
   }

  }//balloon

  .balloon-left{
   .balloon{
    margin-left:$autor_size + 0px;
    background-color:$third-color;
    &:before{
     top:10px;
     left:-20px;
     border-top:10px solid transparent;
     border-left:10px solid transparent;
     border-right:10px solid $third-color;
    }
    :after{
     top:20px;
     left:-10px;
     border-top:10px solid $third-color;
     border-left: 10px solid  transparent;
     border-right: 10px solid transparent;
    }

   }//balloon

   .author{    float:left;  }
   .comment_info{    float: right;}//comment_info
  }//.balloon-left


  .balloon-right{
   .balloon{
    margin-right:$autor_size + 0px;
    background-color:$third-color;
    &:before{
     top:10px;
     right:-20px;
     border-top:10px solid transparent;
     border-left:10px solid $third-color;
     border-right: 10px solid transparent;
    }
    :after{
     top:20px;
     right:-10px;
     border-top:10px solid $third-color;
     border-left: 10px solid  transparent;
     border-right: 10px solid transparent;
    }

   }//balloon
   .author{
    float:right;
   }
  }//balloon-right

  .comment_info{
   float: left;
   p{    display: inline-block;   }
  }//comment_info

  .del_btn{//partial化したい
   $bordersize:1px;
   width: 30px;
   height: 30px;
   position: absolute;
   right: 6px;
   top: 6px;
   border: $bordersize solid $main-color;
   border-radius: 100%;
   cursor: pointer;
   color: $main-color;
   font-size: 20px;
   &:after{
    content:"×";
    margin-left: $bordersize;
    margin-top: $bordersize;
    display: inline-block;
   }//after
  }//del_btn


 }//timeline


 textarea{
  width: 100%;
  margin-top: 30px;
 }

 //breakpoints -----------------------------------------------
 @include MQ(maxL) { }//breakpoints (maxL) -------------------
 @include MQ(M) { }//breakpoints (M) -------------------------
 @include MQ(S) { }//breakpoints (S) -------------------------

}//comment_timeline

.mobile { //mobile setting **********************
 .comment_timeline{

  //Gyro setting ------------------------------------------
  @media screen and (orientation: portrait) { }//portrait
  @media screen and (orientation: landscape) { }//landscape
  //end Gyro setting --------------------------------------

 }//comment_timeline
} //mobile end **********************************


.tablet { //tablet setting **********************
 .comment_timeline{

  //Gyro setting ------------------------------------------
  @media screen and (orientation: portrait) { } //portrait
  @media screen and (orientation: landscape) { }//landscape
  //end Gyro setting --------------------------------------

 }//comment_timeline
} //tablet end **********************************
