.fixed_menu {
 margin-left: 12px;
 .panel-wrap{
  position: relative;
 }

 #SettingMenu-btn,
 #UserMenu-btn,{
  display: block;
  position: relative;
  z-index: 100;
  &:hover,&:hover:before,{ }
 }

 .panl_theme{
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1000;
  width: 200px;
  margin-left: -30px;
  padding: 10px;
  background: #fff;
  border: 1px solid $text-color;
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);

  &:after,&:before {
   content: "";
   position: absolute;
   height: 0;
   width: 0;
  }

  &:after {
   top: -30px;
   right: 0px;
   border: 15px solid transparent;
   border-bottom: 15px solid $text-color;
  }

 }//panl_theme

 li{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $text-color;
  position: relative;
  .badge{
   min-width: 20px;
   min-height: 20px;
   top: 2px;
   right: 0;
  }
 }



}//fixed_menu







