/* Hide scroll bar */

html.remodal-is-locked {
 overflow: hidden;
 -ms-touch-action: none;
 touch-action: none;
 .remodal{
  height: auto;
 }
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
 display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
 position: fixed;
 //z-index: 9999;
 top: -5000px;
 right: -5000px;
 bottom: -5000px;
 left: -5000px;
 display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
 position: fixed;
 //z-index: 10000;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: none;
 overflow: auto;
 text-align: center;
 -webkit-overflow-scrolling: touch;

&:after {
 display: inline-block;
 height: 100%;
 margin-left: -0.05em;
 content: "";
}

}//remodal-wrapper


/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
 position: relative;
 outline: none;
 -webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 text-size-adjust: 100%;

 .selectform{ margin: auto;}
}

.remodal-is-initialized {
 /* Disable Anti-FOUC */
 display: inline-block;
}

.modalbtn_set{
 margin-top: 80px;
}

.madalformcontents{
 input,select,.selectform{width: 100%; max-width: 500px;}
}


.mobile { //mobile setting **********************

 .remodal {
  padding: 35px 0px;

  h1{
   margin-bottom: 30px;
  }
 }//remodal

 .remodal-close{
  $sizeval:15px;
  top:  $sizeval;
  left:  $sizeval;
  width:  $sizeval + 10px;
  height:  $sizeval + 10px;
  &:before{
   $sizeval:25px;
   font-size: $sizeval;
   line-height: $sizeval;
   width: $sizeval;
   height: $sizeval;
  }
 }//.remodal-close


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************




@import "modal-theme";
@import "modal-sns_share";
