.result_area{
 -webkit-display: flex;
 display: flex;
 -webkit-justify-content: space-between;
 justify-content: space-between;//centerでもいいのかも？
 -webkit-flex-wrap: wrap;
 flex-wrap:wrap;
 section{

  //cardのレイアウト次第で以下調整考える
  //&:nth-child(5n){margin-right: 0;}
  // &:nth-child(5n+1){margin-left: 0;}
 }
}

.result_card{
 border: 1px solid $text-color;
 padding:30px;
 text-align: center;
 margin: auto auto 30px auto;
 .pic{

  //img{max-width: 150px;}
 }//pic

 .card_infomation{
margin-top: 20px;
  max-width: 200px;
 }//card_infomation

}//result_card
