.searchbar{
 position: relative;

 label{

 }

 input[type="text"]{
  padding-right: 60px;
  border-radius: 20px;
  background-color: $form_base_color;
  border: none;
 }

 :placeholder-shown { color: $default-color;}
 ::-webkit-input-placeholder { color: $default-color;}
 ::-moz-placeholder { color: $default-color; opacity: 1;}
 :-ms-input-placeholder { color: $default-color;}



 input[type="submit"]{
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  border-radius: 20px;
  height: 36px;
  width: 36px;
  padding: 0;
  font-family: FontAwesome;
  //background: #989b9c;
  color: $default-color;;
  border-color: #ccc;
 }

}//searchbar



.mobile { //mobile setting **********************

 .searchbar{

  input[type="text"]{
   width: calc(100% - 20px);
   margin-left: 20px;
  }

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

 }//searchbar
} //mobile end **********************************
