.card,.listbox {
 .squarebox{
  width: $card_size;
  height: $card_size;
  margin: auto;
  img{width: auto;}
 }//squarebox
}//card

.result_card{
 .squarebox{
  width: 150px;
  height: 150px;
  margin: auto;
 }//squarebox
}//result_card

.item_card {
 .squarebox{
  width: 500px;
  height: 500px;
  margin: auto;
  img{width: auto;}
 }//squarebox
}//item_card

.container_thumb{
 display: flex;
 flex-wrap:wrap;
 max-width: 160px;
 .squarebox{
  width: 72px;
  height: 72px;
  margin: auto;
  margin-bottom: 4px;
 }//squarebox
}

.list-gear{
 .squarebox{
  width: 80px;
  height: 80px;
  margin: auto;
 }//.list-gear
}

.transaction{
 .list-gear{
  .squarebox{
   width: 150px;
   height: 150px;
   margin: auto;
  }//squarebox
 }
}//transaction

.articlepreview{
 .squarebox{
  width: 500px;
  height: 500px;
  margin: auto;
 }//squarebox
}//articlepreview


//user_thumb
.user_thumb{
 .img_resize{
  width: auto;
 }
}

#UserMenu-btn{
 .user_thumb{
  width: 36px;
  height: 36px;
 }//squarebox
}


.profcover{
 .user_thumb{
  width: 80px;
  height: 80px;
 }//squarebox
}//profcover

.list-gear_rating,.list-user{
 .user_thumb{ //squarebox未記述のため
 width: 60px;
 height: 60px;
 }//squarebox
}//.list-gear_rating




//############################

.squarebox{
 overflow: hidden;
 //display: none;
}

.img_resize{
 display: none;
}




//breakpoints -------------------------------
@include MQ(maxL) { }//breakpoints (maxL) -------------------------
@include MQ(M) { }//breakpoints (M) -------------------------

@include MQ(S) {

 .card,.listbox,.item_card {
  .squarebox{
   width: $S-card_size;
   height: $S-card_size;
  }//squarebox

  &.list-gear{
   .squarebox{
    width: 80px;
    height: 80px;
   }//.squarebox
  }//.list-gear

 }//item_card

 .container_thumb{
  max-width: 100%;
  .squarebox{
   width: 72px;
   height: 72px;
   margin: auto;
   margin-bottom: 4px;
  }//squarebox
 }


 .gloval_nav{
  .squarebox{
   width: 30px;
   height: 30px;
  }//squarebox
 }//gloval_nav

}//breakpoints (S) -------------------------


.mobile { //mobile setting **********************

 .gloval_nav {
  ul{
   li{
    .user_thumb{
     img{ width: auto; height: auto;}
    }
   }
  }
 }



 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //mobile end **********************************

.tablet { //tablet setting **********************


 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------


} //tablet end **********************************
