.tabmenu{

 ul{
  list-style: none;

  @include flex_container();
  -webkit-flex-wrap: wrap;
  flex-wrap:wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;

  li {
   display: inline-block;
   text-align: center;
   cursor: pointer;

   @include flex_item(1);
   padding: 14px 20px 14px 20px;
   border-bottom: 1px solid $text-color;
   margin: 0px auto 60px auto;

   //border-bottom: 1px solid;
   //padding: 0 20px 14px 20px;
  // margin: 0px 40px 60px 40px;


   &.active {
    color: $main-color;

    border: 1px solid $main-color;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;

   }//active


   em {
    display: inline-block;
    span {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 20px;
    display: inline-block;
    background-color: #5e6067;
    color: #ffffff;
    margin-left: 5px;
    min-width: 30px;
   }//span
   }//em


  }//li
 }//ul

 //* タブの中身 */
 #tab-box {
  height: auto;

  .tab_content {
   display: none;
   -webkit-transition: all .2s;
   transition: all .2s;
   &.active {
    display: block;
   }//active
  }//tab_content
 }//#tab-box

}//tab-menu







.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end
