.tagit{
 background: inherit;
 //padding: 1px 5px;
 overflow: auto;
 margin-left: inherit;
 margin-right: inherit;
 border: none !important;//js style打ち消し

 input{
  background-color: transparent!important;//js style打ち消し

 }

 li{
  display: block;
  float: left;
  margin: 2px 5px 2px 0;

  &.tagit-choice{
   @include common_radius;
   border: none;
   padding: .2em 18px .2em .5em;
   background-color: $text-color;
   color: $base-color;
   position: relative;
   line-height: inherit;

   a.tagit-close{
    text-decoration: none;
    right: .4em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;

    .text-icon{
     display: inline;
     font-family: arial, sans-serif;
     font-size: 16px;
     line-height: 16px;
     color: $base-color;
    }//.text-icon
   }//tagit-close

   .ui-icon{
    display: none;
   }//.ui-icon
  }//tagit-choice
 }//li

 .tagit-new{
  //margin-top: $common_mr-bt;
  width: 100%;
  input{
   width: 100%;
  }
 }//.tagit-new

 @include MQ(maxL) { //----------------------
 }//breakpoints (maxL) ----------------------

 @include MQ(M) { //-------------------------
 }//breakpoints (M) -------------------------

 @include MQ(S) { //-------------------------
 }//breakpoints (S) -------------------------


}//tagit



.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
