.tag_nav{
 i{
  float: left;
  width: 27px;
  embed{max-width: 24px;}
 }

 li{
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: $second-color;
  color: $base-color;
  margin-right: 5px;
  margin-bottom: 5px;
  a{color: $base-color;  }

 }//li


 @include MQ(maxL) { //----------------------
 }//breakpoints (maxL) ----------------------

 @include MQ(M) { //-------------------------
 }//breakpoints (M) -------------------------

 @include MQ(S) { //-------------------------
 }//breakpoints (S) -------------------------


}//tag_nav



.mobile { //mobile setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //mobile end **********************************



.tablet { //tablet setting **********************

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------

} //tablet end **********************************
