<div class="templete_list" id="tmp_list_4">
</div><!--//card_flex-->
<input type="hidden" id="user_items_id" name="user_items_id" value="{{ user_item_info.user_item_id }}">
<input type="hidden" id="page" name="page" value="1">
<input type="hidden" id="page_url" name="page_url" value="">
