<div class="article-header">

 <div class="gear_name">
  <p class="brand_name">{{ user_item_info.brand_name }}</p><!--//brand_name-->
  <h1 class="card_name"><a href="{{ url('master/item/' ~ user_item_info.item_id) }}">{{ user_item_info.item_name }}</a></h1><!--//card_name-->
  <input type="hidden" id="items_id" value="{{ user_item_info.item_id }}">
  {% if user_item_info.is_store %}
  <p class="sale_flag button btn_size-S">sale</p>
  {% endif %}
 </div><!-- /.giear_name -->

</div><!-- /.article-header -->
