<section class="card">
 <a href="{{url('user/item/1')}}">
 <div class="pic squarebox">
   <img class="img_resize" src="http://placehold.it/500x500">
 </div><!--//pic-->
 </a>
 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Card Title</h1><!--//card_name-->
  <div class="card_status">
   {% block status_icon %}

   <div class="status_icon">
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
   </div><!--//status_icon-->

   {% endblock %}
  </div><!--//card_status-->
 </div><!--//infomation-->
</section><!--//card-->



