<div class="icon_listview">

 <div class="status_icon">
  <div>
   <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
   <span class="count">100K</span>
  </div>
  <div>
   <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
   <span class="count">100K</span>
  </div>
  <div>
   <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
   <span class="count">100K</span>
  </div>
 </div><!--//status_icon-->

</div><!--//icon_listview-->
