<section class="listbox list-gear">

 <div class="left_area">
  <a href="{{url('user/item/1')}}">
   <div class="pic squarebox">
    <img class="img_resize" src="http://placehold.it/400x600">
   </div><!--//pic-->
  </a>
 </div><!--//left_area-->

 <div class="right_area card_infomation">
  <p class="status">取引完了</p>
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Card Title</h1><!--//card_name-->
  <p class="price"><span>19,800</span></p>
  <i class="btn_icon">
   <input type="checkbox" id="toggledemo01" class="togglebtn" checked >
   <label for="toggledemo01" data-on-label="On" data-off-label="Off"></label>
  </i>
 </div><!--/.right_area-->



</section><!-- /.listbox -->
