<div class="listbox list-user_rating">

 <div class="left_area">
  <div class="user_thumb">
   <a href="">
    <!-- <img src="{{ asset(user_info.avater_img_url) }}">-->
    <img src="{{ asset('images/user_default.png') }}">
   </a>
  </div><!--//user_thumb-->

  <div class="label_mark label_sale">
   出品者
  </div><!--//label-->

  <div class="label_mark label_purchase">
   購入者
  </div><!--//label-->
 </div><!--//left_area-->


 <div class="right_area">
  <div class="upper_area">
   <p class="name">User Name</p>
   <time>2016.2.7</time>
  </div><!--//upper_area-->

  <div class="user_comment">
   無事に届き安心致しました。大変信頼できる落札者様とのお取り引きができ嬉しく思います。またのご縁がありましたらよろしくお願い致します。ありがとうございました。
  </div><!--/.user_comment-->

 </div><!--/.right_area-->




</div><!-- /.listbox -->
