
<div class="squarebox_Test">

 <section class="card">

 <div class="pic">
  <a href="{{url('user/item/1')}}">
 <div class="squarebox">
  <img class="img_resize" src="http://placehold.it/500x800">
  </div><!--//squarebox-->
  </a>
 </div><!--//pic-->

 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Card Title</h1><!--//card_name-->
  <div class="card_status">

   <div class="status_icon">
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
   </div><!--//status_icon-->

  </div><!--//card_status-->
 </div><!--//infomation-->
</section><!--//card-->







<!--</div>//squarebox_Test-->
