<div class="common_bottom">
 この規約（以下「本規約」といいます。）は、株式会社Initial Site（以下「当社」といいます。）が提供する「hammocks」（以下「本サービス」といいます。）の利用に関する条件を定めるものであり、本サービスを利用するすべてのお客様（以下「ユーザー」という。）に適用されます。
 お客様は、本サービスを利用する前に、本規約をよくお読みください。<br>
</div>


<ul class="list_number">
 <li><span class="title">（本規約への同意）</span>
  <ul class="list_number">
   <li>
    お客様は、本規約に従って本サービスを利用するものとし、本規約に同意しない限り本サービスを利用できません。本サービスに関して当社とお客様との間で別途合意した契約及び当社が配布、配信若しくは掲示する文書等（以下、総称して「個別利用規約等」といいます。）に規定する内容は、当該お客様との間で本規約の一部を構成するものとします。
   </li>
   <li>
    個別利用規約等において別段の定めのない限り、第４条の規定に従いお客様が本規約に同意したうえでユーザー登録を完了した時点で、当該お客様（以下「ユーザー」といいます。）と当社との間で、本規約の諸規定に従ったサービス利用契約（以下「本利用契約」といいます。）が成立します。
   </li>
  </ul>
 </li>

 <li><span class="title">（本規約の改訂・変更）</span>
  <ul class="list_number">
   <li>
    当社は、当社の判断において、いつでも本規約の内容を変更又は追加できるものとします。変更後の本規約は、当社が別途定める場合を除いて、当社の運営するウェブサイト（「thehammocks.camp」（理由の如何を問わず、当該ウェブサイトのドメイン又は内容が変更された場合は、当該変更後のドメイン等を含みます。）以下「当社ウェブサイト」といいます。）又は本サービス上に掲示された時点より効力を生じるものとします。
   </li>

   <li>
    ユーザーが本規約の変更後も本サービスの利用を継続し又は本サービスを退会しない場合、当該ユーザーは、変更後の本規約に同意したものとみなされます。ユーザーは、自己の責任において、随時、本規約の最新の内容を確認の上、本サービスをご利用ください。
   </li>
  </ul>
 </li>


</ul>
