<header class="header">
 <div class="header_wrap">

{% include 'partial/common/searchbar.twig' %}


<div class="settingmenu">
 <a data-remodal-target="Gnav-Setting">
  <img src="{{ asset('images/menu.svg') }}" type="image/svg+xml">
 </a>
</div><!-- //drawer -->


 </div><!--//header_wrap-->
</header>
