 <ul>

  <li><a href="{{ url('/user/garage/' ~ user.id) }}">My GARAGe</a></li>
  <li><a href="{{ url('/item/register') }}">アイテム登録</a></li>

  <li><a href="{{ url('/user/setting') }}">アカウント設定</a></li>

  <li><a href="{{ url('/auth/logout') }}">ログアウト</a></li>

 </ul>
