html {
 background-color:$default-color;
 overflow: auto;

 //height: 100%;
}
body {
 overflow: hidden;
}
::selection { background: rgba(204, 204, 204, 0.7); /* Safari */}
::-moz-selection {  background: rgba(204, 204, 204, 0.7); /* Firefox */}
//rgba(255, 255, 118, 0.77)
//rgba(202, 202, 202, 0.63)

img,video {
 width: 100%;
 height: auto;
 vertical-align: middle;
 a{  width: 100%;    height: auto;}
}

a{
 text-decoration:none;
 color:$link-color;
 cursor:pointer;
 &:hover{
  opacity:0.7;
  filter:alpha(opacity=70);
  -ms-filter: “alpha( opacity=70 )”;
 }
}

.clearfix:after {
 content:" ";
 display:block;
 clear:both;
}

article.container {
 //@include site-size;
 margin: auto;
}

.contents{
 max-width: $SiteSize;
 margin: auto;
 padding:  $contents-padding;
 background-color: $base-color;
 margin-top: $header_height;

 .unit{
  margin-bottom: $common_mr-bt;
  padding: 20px;
  overflow: hidden;
 }

 .textcontents{
  margin: auto;
  max-width: $textcontents;
 }

 .formcontents{
  margin: auto;
  max-width: $formcontents;
 }//formcontents

 .form_gr{
  border: 1px solid $line-color;
  padding: 20px 50px;
 }

 @include MQ(M) {
  padding: 40px;
 }//breakpoints (S) -------------------------

 @include MQ(S) {
  min-height: calc(100vh - 200px);
  padding: 40px 20px;

  .formcontents,.textcontents{
   width:100%;
  }//formcontents

  .form_gr{
   padding: 20px;
  }//form_gr

 }//breakpoints (S) -------------------------

}//contents

.facade {
 width: 100%;
 padding-bottom: 30px;
}//facade

.menu_btn{
 max-width: 40px;
}

.user_thumb{
 max-width: 40px;
 //min-width: 24px;
 border-radius: 50%;
 overflow: hidden;
}//user_thumb

.branding{
 max-width: 150px;
}

.center{
 width: 100%;
 text-align: center;
}

.comon_layout{
 margin: {
  top:auto;
  bottom:25px;
  left:auto;
  right:auto;
 }
}

.common_bottom{
 overflow: hidden;//影響出る箇所あるかもしれないから確認すること
 margin-bottom: $common_mr-bt;
}

.note_area{
 max-width: $formcontents;
 margin: auto;
 margin-top: $common_mr-bt * 2;
 text-align: left;
}

ul.bullet_point{
 list-style-type: disc;
 li{margin-left: 1.5em;}
}//bullet point

ul.list_number{
 list-style-type: decimal;
 li{
  margin-left: 1.5em;
  margin-bottom: $common_mr-bt;
 }
}//list_number


.normal_menulist{
 li{margin-bottom: $common_mr-bt;}
}//normal_menulist

.normal_text{
 text-align: left;
}//normal_text

.flex_container{
 @include flex_container();
}
.flex_item{
 @include flex_item();
}

.sort_area{
 max-width: $formcontents;
 margin: auto;
 //margin-top: $common_mr-bt * 2;

 text-align: center;
 @include flex_container();
 -webkit-flex-wrap: wrap;
 flex-wrap:wrap;
 -webkit-justify-content: center; /* Safari */
 justify-content: center;
 select{
  @include flex_item(1);
  margin: 0 10px $common_mr-bt 10px;
 }//select
}//sort_area


.common_dl{
 $val:0px;
 $dtwidth:160px;
 dt{
  padding-top : $val;
  padding-bottom : $val;
  width : $dtwidth;
  float : left;
  clear : both;
  font-family: mplus-1c-regular;
 }

 dd{
  padding: $val 10px $val 0;
  margin-left : $dtwidth + 25;
  margin-bottom: $common_mr-bt;
 }
}//.common_dl


//Flex grid system
.fukol-grid {
 display: flex;
 flex-wrap: wrap;
 margin: -0.5em;
 > * {
 flex: 1 0 10em;
 margin: 0.5em;
}
 > *:first-child {
 flex-basis: calc(100% - 1em);
}

}//fukol-grid

//Layer Set

$z: testheader, nav, pulldown, child;

.testheader {
 z-index: index($z, testheader); // 1
}
.child {
 z-index: index($z, child); // 4
}


.token-input-dropdown{z-index: 10001 !important;}
.remodal-wrapper{ z-index: 10000;}
.remodal-overlay{ z-index: 9999;}
.header{z-index: 3;}
//***GARAGE Page
.garage {
 //.contents{  z-index: -1; }
 .profcontents{z-index: 2;}
 .usrimgfil,.del_btn{z-index: 1;}
 .anystretch{z-index: 0!important;}
}


//breakpoints -------------------------------
@include MQ(maxL) {}//breakpoints (maxL) -------------------------
@include MQ(M) {}//breakpoints (M) -------------------------
@include MQ(S) {

 .contents{
  .unit{padding: 0;}
 }

 .common_dl{
  dt{
   width: 100%;
   float: none;
  }
  dd{
   width: 100%;
   margin: auto auto $common_mr-bt auto;
  }
 }//.common_dl

}//breakpoints (S) -------------------------


.mobile { //mobile setting **********************
  background-color:$base-color;


 .branding{
  max-width: 100px;
 }

 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { }//portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------
} //mobile end **********************************

.tablet { //tablet setting **********************
 //Gyro setting --------------------------------
 @media screen and (orientation: portrait) { } //portrait
 @media screen and (orientation: landscape) { }//landscape
 //end Gyro setting ----------------------------
} //tablet end **********************************


//******************************* impoprt default partial /
@import "partial/loader/fakeLoader";
@import "partial/font";
@import "partial/form";
@import "partial/button";
@import "partial/layout/header";
@import "partial/layout/footer";
@import "partial/squarebox";
@import "partial/badge";
@import "partial/modal";
//@import "partial/table";
//@import "partial/breadcrumbs";
//@import "partial/global_nav";
//@import "partial/go-top";


//******************************* impoprt vendiors /

