<section class="card containercard lock">
 <div class="del_btn"></div>
 <a href="">
  <ul class="container_thumb">
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
  </ul>
  <p class="container_name">lockされたコンテナ</p>
 </a>
 <a class="triangle"></a>
</section><!--//.containercard-->




<section class="card containercard unlock">
 <div class="del_btn"></div>
 <a href="">
  <ul class="container_thumb">
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
   <li class="pic squarebox"><img src="http://hanmmocks.com/images/container_default.svg"></li>
  </ul>
  <p class="container_name">通常のコンテナ</p>
 </a>
 <a class="triangle"></a>
</section><!--//.containercard-->
