<div class="card_flex templete_list" id="tmp_list_0">
</div><!--//card_flex-->
<input type="hidden" id="owner_users_id" name="owner_users_id" value="{{ user_item_info.user_id }}">
<input type="hidden" id="users_items_id" name="users_items_id" value="{{ user_item_info.user_item_id }}">
<input type="hidden" id="page" name="page" value="1">
<input type="hidden" id="page_url" name="page_url" value="">
