<section class="card publicitemcard-line">
 <div class="pubitempic">
  <a href="{{url('user/item/1')}}">
   <div class="pic squarebox2">
    <img class="img_resize" src="http://placehold.it/500x500">
   </div><!--//pic-->
  </a>
 </div>
 <!-- /.pubitempic -->
 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Card Title</h1><!--//card_name-->
 </div><!--//infomation-->
</section><!--//card-->
