<div class="card_flex templete_list" id="tmp_list_1">
</div><!--//card_flex-->
<input type="hidden" id="page" name="page" value="1">
<input type="hidden" id="page_url" name="page_url" value="">
<input type="hidden" id="items_id" value="{{ item_info.items_id }}">
