<div class="status_icon set_5p common_bottom">

 <div>
  <a data-remodal-target="ClipToContainer">
   <img src="{{ asset('images/ico-pick-off.svg') }}" type="image/svg+xml">
  </a>
  <span class="count">100K</span>
 </div>

 <div>
  <a data-remodal-target="SNS_Share">
   <img src="{{ asset('images/ico-share-off.svg') }}" type="image/svg+xml">
  </a>
  <span class="count"></span>
 </div>

 <div>
  <a data-remodal-target="Ban">
   <img src="{{ asset('images/ico-ban-off.svg') }}" type="image/svg+xml">
  </a>
 </div>

 <div>
  <a data-remodal-target="ItemEdit-Article">
   <img src="{{ asset('images/ico-more.svg') }}" type="image/svg+xml">
  </a>
 </div>

</div><!--//status_icon-->
