<section class="card articlecard">

 <a href="{{url('user/item/1')}}" data-remodal-target="ArticlePreview">
 <div class="pic squarebox">
   <img class="img_resize" src="http://placehold.it/500x500">
 </div><!--//pic-->

 </a>
 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Item Name</h1><!--//card_name-->

  <div class="authority_stamp">
   <div class="user_thumb">
    <a data-remodal-target="modal">
     <img src="{{ asset('images/user_default.png') }}">
    </a>
   </div><!--//user_thumb-->
   <p class="name">User_NameUser_NameUser_NameUser_NameUser_NameUser_NameUser_Name</p>
  </div><!--//authority_stamp-->


 </div><!--//infomation-->
</section><!--//card-->

