<section class="card publicitemcard">

 <a href="{{url('user/item/1')}}">
  <div class="pic squarebox">
   <img class="img_resize" src="http://placehold.it/500x500">
   <div class="triangle"></div>
   <p class="price"><span>88721</span></p>
  </div><!--//pic-->
 </a>
 <!-- /.pubitempic -->

 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">Public Item Card</h1><!--//card_name-->

  <div class="card_status">
   <div class="status_icon">
    <div>
     <img src="{{ asset('images/ico-have-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/ico-want-off.svg') }}" type="image/svg+xml">
     <span class="count">100K</span>
    </div>
    <div>
     <img src="{{ asset('images/ico-sale.svg') }}" type="image/svg+xml">
     <span class="count">100</span>
    </div>
   </div><!--//status_icon-->
  </div><!--//card_status-->

 </div><!--//infomation-->
</section><!--//card-->
<div class="card_flex templete_list" id="tmp_list_0">
</div><!--//card_flex-->
