<section class="card salecard">
 <div class="user_thumb">
  <img src="{{ asset('images/user_default.png') }}">
 </div><!--//user_thumb-->

 <a href="{{url('user/item/1')}}">
  <div class="pic squarebox">
   <img class="img_resize" src="http://placehold.it/500x500">
  </div><!--//pic-->
 </a>
 <div class="card_infomation">
  <p class="brand_name">Brnd Name</p><!--//brand_name-->
  <h1 class="card_name">SaleItem Card Title</h1><!--//card_name-->
  <div class="card_status">
   <p class="price"><span>2,000</span></p>
  </div><!--//card_status-->
 </div><!--//infomation-->
</section><!--//card-->
