{% spaceless %}
<!DOCTYPE html>
<html lang="ja">
 <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>{% block title %}hammocks ここにページのタイトル{% endblock %}</title>
  <meta name="description" content="{% block description %}ここにページの説明文{% endblock %}">
  <meta name="author" content="@starlod">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ asset('favicon.ico') }}">
  <link rel="alternate" type="application/rss+xml" href="/feed">

  {% block stylesheets %}
  <link rel="stylesheet" href="css/style.css" media="all" />
  <link rel="stylesheet" href="css/pages/index.css" media="all" />
  {% endblock %}

 </head>


 <body class="{{ app.request.get('_route') }}">
  <div class="container">

   <header class="header">
    {% block header %}
    <h1>hammocks</h1>
    <div class="level-item">
     <p class="control has-addons">
      <input class="input" type="text" placeholder="Filter">
      <button class="button">Search</button>
     </p>
    </div><!--//level-item-->
    {% endblock %}
   </header>

   <div class="contents">
    {% block body %}
    {% include 'partial/common/card.twig' %}
    {% endblock %}
   </div><!--//contents-->

   <footer class="footer">
    {% block footer %}

    {% endblock %}
   </footer>
  </div><!--//container-->

  {% block javascripts %}

  {% endblock %}
 </body>
</html>
{% endspaceless %}
