@charset "UTF-8";
.result_area {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.result_card {
  border: 1px solid #95989A;
  padding: 30px;
  text-align: center;
  margin: auto auto 30px auto;
}
.result_card .card_infomation {
  margin-top: 20px;
  max-width: 200px;
}

.gear_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  max-width: 240px;
}
.gear_rating i {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  margin-right: -15px;
}
.gear_rating .rate_result {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  margin-right: auto;
}
.gear_rating .rate_result img {
  max-width: 150px;
}
.gear_rating #rate_disp_area {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.modal-brand_list .initial {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 40px auto;
  border: 1px solid #95989A;
  display: block;
}
.modal-brand_list ol {
  text-align: left;
  margin: auto 80px;
  padding-bottom: 80px;
}
.modal-brand_list ol li {
  margin-bottom: 10px;
}
.modal-brand_list .brand_card {
  border: 1px solid #cecece;
  padding: 0 25px 25px 25px;
  max-width: 320px;
  margin: auto;
  margin-top: 25px;
}
.modal-brand_list .brand_list li span {
  cursor: pointer;
}
.modal-brand_list .brand_list li span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}

.tag_nav i {
  float: left;
  width: 27px;
}
.tag_nav i embed {
  max-width: 24px;
}
.tag_nav li {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #9E9E9F;
  color: #FCFBF9;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tag_nav li a {
  color: #FCFBF9;
}

.authority_stamp {
  max-width: 300px;
  display: flex;
  align-items: baseline;
  align-content: center;
}
.authority_stamp .name {
  max-width: 220px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
}
.card_flex section {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.card {
  text-align: center;
  margin-bottom: 20px;
  max-width: 250px;
}
.card:first-child {
  margin-left: 0;
}
.card .pic {
  margin-bottom: 10px;
}
.card div {
  margin-bottom: 10px;
}
.card .item_name {
  margin: auto;
}
.card .status_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  max-width: 300px;
}
.card .status_icon div {
  -webkit-flex-grow: 4;
  /* Safari */
  flex-grow: 4;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.card .status_icon div img {
  max-width: 20px;
  cursor: pointer;
}
.card .status_icon div img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.card .status_icon div span {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.card .status_icon.set_6p {
  max-width: 400px;
}
.card .status_icon.set_5p {
  max-width: 320px;
}
.card .status_icon .subbtn {
  margin-right: auto;
}
.card .category_nav li {
  display: inline;
}
.card .category_nav li:after {
  content: ">";
  margin: 0 0.5em;
}
.card .category_nav li:last-child:after {
  content: "";
  margin: 0 0 0 0.5em;
}
@media only screen and (max-width: 480px) {
  .card {
    max-width: 335px;
    margin: auto auto 25px auto;
  }
  .card:first-child {
    margin-left: auto;
  }
}

.articlecard .del_btn, .containercard .del_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
  border: 1px solid #4EB5A2;
  border-radius: 100%;
  cursor: pointer;
  color: #4EB5A2;
  font-size: 20px;
  background-color: rgba(252, 251, 249, 0.4);
}
.articlecard .del_btn:after, .containercard .del_btn:after {
  content: "×";
  margin-left: 1px;
  margin-top: 1px;
  display: inline-block;
}

.publicitemcard-line {
  border: 1px solid #cecece;
}
.publicitemcard-line .pubitempic {
  padding: 20px;
  margin: auto;
}
.publicitemcard-line .squarebox2 {
  width: 160px;
  height: 160px;
}
.publicitemcard-line .pic {
  margin: 0;
}

.publicitemcard .pic {
  margin: 0;
  position: relative;
}
.publicitemcard .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #4EB5A2;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}
.publicitemcard .price {
  color: #fff;
  transform: rotate(-135deg);
  left: -14px;
  top: 14px;
  position: absolute;
  height: 250px;
  width: 250px;
}
.publicitemcard .price span {
  transform: rotate(180deg);
  text-align: center;
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #4EB5A2;
  color: #fff;
}
.publicitemcard .price span:before {
  content: "¥";
}
.publicitemcard .follow_trend_info {
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  text-align: left;
  margin-top: -10px;
  padding: 10px 0;
}
.publicitemcard .card_infomation {
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  .publicitemcard .squarebox {
    width: 335px;
    height: 335px;
  }
  .publicitemcard .price {
    left: -26px;
    top: 26px;
    height: 335px;
    width: 335px;
  }
}

.masterphotocard {
  position: relative;
}
.masterphotocard .user_thumb {
  width: 24px;
  height: 24px;
}

.articlecard {
  position: relative;
}
.articlecard .authority_stamp {
  -webkit-justify-content: center;
  justify-content: center;
}
.articlecard .user_thumb {
  width: 24px;
  height: 24px;
}

.salecard {
  position: relative;
}
.salecard .user_thumb {
  position: absolute;
  top: 16px;
  left: 16px;
}

.usercard {
  max-width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
  border: 1px solid #cecece;
  padding: 24px;
  margin-bottom: 48px;
}
.usercard .user_thumb {
  max-width: 80px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
.usercard .card_infomation {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  flex: 7;
  width: calc(338px - (32px + 40px));
  margin-left: 32px;
}
.usercard .card_infomation .name {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 auto 10px auto;
}
.usercard .card_infomation .status_icon {
  max-width: 240px;
}
.usercard .card_infomation .status_icon div img {
  max-width: 20px;
  cursor: auto;
}
.usercard .card_infomation .status_icon div img:hover {
  opacity: 1;
}
.usercard .card_infomation .status_icon div span {
  font-size: 10px;
  font-size: 1.0rem;
}
.usercard .followbtn {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  max-width: 40px;
}

.containercard {
  position: relative;
  border: 1px solid #cecece;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 200px;
}
.containercard:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.containercard .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 60px 60px;
  border-color: transparent transparent transparent #4EB5A2;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}
.containercard .triangle.lock span::after, .containercard .triangle.unlock span::after {
  width: 22px;
  height: 22px;
  padding: 4px;
  position: absolute;
  left: -60px;
  top: 2px;
  border-radius: 100%;
}
.containercard .triangle.lock span::after {
  content: url("../img/ico-lock.svg");
}
.containercard .triangle.unlock span::after {
  content: url("../img/ico-unlock.svg");
}

.remodal .containercard {
  max-width: 190px;
}

@media only screen and (max-width: 480px) {
  .containercard {
    max-width: 335px;
    margin: auto auto 25px auto;
  }
  .containercard:first-child {
    margin-left: auto;
  }
}
.collapse .slide_btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #4EB5A2;
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 20%;
  top: 14px;
}
.collapse .slide_btn:after {
  color: #FCFBF9;
  font-family: "FontAwesome";
  content: "\f107";
}
.collapse .slide_btn + ul {
  display: none;
}
.collapse .slide_btn.open:after {
  content: "\f106";
}
.collapse .slide_btn:hover {
  opacity: 0.5;
}
.collapse li {
  position: relative;
}
.collapse li span {
  width: 60%;
  margin: 10px auto;
  max-width: 300px;
  display: inline-block;
  padding: 6px 0px;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #cecece;
}
.collapse li span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.collapse .first_layer li span {
  padding-left: 20px;
  border-left: 1px solid #cecece;
}
.collapse .first_layer li .slide_btn {
  background-color: transparent;
  border: 1px solid #4EB5A2;
}
.collapse .first_layer li .slide_btn:after {
  color: #4EB5A2;
}
.collapse .second_layer li span {
  padding-left: 20px;
  border-left: 1px solid #cecece;
  margin-left: 25px;
}

.mobile .collapse li span {
  width: 80%;
}
.mobile .collapse .slide_btn {
  right: 10%;
}

.category .category_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
  margin-bottom: 25px;
}
.category .category_name li {
  width: 24%;
  border: 1px solid #cecece;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.category .category_name li.active {
  color: #FCFBF9;
  border-color: #4EB5A2;
  background-color: #4EB5A2;
}
.category .genre_brand-select {
  margin-bottom: 25px;
  text-align: center;
}
.category .genre_brand-select .button {
  width: auto;
  max-width: 200px;
  display: inline;
  margin: 0 10px;
}
.category .sort_area {
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .category .category_name li {
    width: 49%;
    margin-bottom: 6px;
  }
  .category .genre_brand-select {
    margin-bottom: 25px;
  }
  .category .genre_brand-select .button {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: 10px auto;
  }
}

/*# sourceMappingURL=category.css.map */
