@charset "UTF-8";
.item_card {
  width: 100%;
  overflow: hidden;
}
.item_card .pic + .quotes {
  width: 500px;
  display: inline-block;
}
.item_card .card_visual {
  float: left;
  width: auto;
  margin-right: 62px;
}
.item_card .card_visual .pic {
  margin: 0;
  position: relative;
}
.item_card .master_infomation {
  max-width: 558px;
  display: inline;
  float: left;
}
.item_card .putcontainer {
  float: left;
  width: 100%;
}

.category_nav li {
  display: inline;
}
.category_nav li:after {
  content: ">";
  margin: 0 0.5em;
}
.category_nav li:last-child:after {
  content: "";
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 1280px) {
  .master_infomation {
    max-width: 100%;
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .item_card {
    text-align: center;
  }
  .item_card .card_visual {
    width: auto;
    text-align: center;
    float: none;
    margin-right: auto;
  }
  .item_card .master_infomation {
    float: none;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    text-align: left;
  }
  .item_card .putcontainer {
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  .item_card .pic + .quotes {
    width: 335px;
    display: block;
  }
}
.gear_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  max-width: 240px;
}
.gear_rating i {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  margin-right: -15px;
}
.gear_rating .rate_result {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  margin-right: auto;
}
.gear_rating .rate_result img {
  max-width: 150px;
}
.gear_rating #rate_disp_area {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.tag_nav i {
  float: left;
  width: 27px;
}
.tag_nav i embed {
  max-width: 24px;
}
.tag_nav li {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #9E9E9F;
  color: #FCFBF9;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tag_nav li a {
  color: #FCFBF9;
}

.authority_stamp {
  max-width: 300px;
  display: flex;
  align-items: baseline;
  align-content: center;
}
.authority_stamp .name {
  max-width: 220px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
}
.card_flex section {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}

.card {
  text-align: center;
  margin-bottom: 20px;
  max-width: 250px;
}
.card:first-child {
  margin-left: 0;
}
.card .pic {
  margin-bottom: 10px;
}
.card div {
  margin-bottom: 10px;
}
.card .item_name {
  margin: auto;
}
.card .status_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  max-width: 300px;
}
.card .status_icon div {
  -webkit-flex-grow: 4;
  /* Safari */
  flex-grow: 4;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.card .status_icon div img {
  max-width: 20px;
  cursor: pointer;
}
.card .status_icon div img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.card .status_icon div span {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.card .status_icon.set_6p {
  max-width: 400px;
}
.card .status_icon.set_5p {
  max-width: 320px;
}
.card .status_icon .subbtn {
  margin-right: auto;
}
.card .category_nav li {
  display: inline;
}
.card .category_nav li:after {
  content: ">";
  margin: 0 0.5em;
}
.card .category_nav li:last-child:after {
  content: "";
  margin: 0 0 0 0.5em;
}
@media only screen and (max-width: 480px) {
  .card {
    max-width: 335px;
    margin: auto auto 25px auto;
  }
  .card:first-child {
    margin-left: auto;
  }
}

.articlecard .del_btn, .containercard .del_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
  border: 1px solid #4EB5A2;
  border-radius: 100%;
  cursor: pointer;
  color: #4EB5A2;
  font-size: 20px;
  background-color: rgba(252, 251, 249, 0.4);
}
.articlecard .del_btn:after, .containercard .del_btn:after {
  content: "×";
  margin-left: 1px;
  margin-top: 1px;
  display: inline-block;
}

.publicitemcard-line {
  border: 1px solid #cecece;
}
.publicitemcard-line .pubitempic {
  padding: 20px;
  margin: auto;
}
.publicitemcard-line .squarebox2 {
  width: 160px;
  height: 160px;
}
.publicitemcard-line .pic {
  margin: 0;
}

.publicitemcard .pic {
  margin: 0;
  position: relative;
}
.publicitemcard .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #4EB5A2;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}
.publicitemcard .price {
  color: #fff;
  transform: rotate(-135deg);
  left: -14px;
  top: 14px;
  position: absolute;
  height: 250px;
  width: 250px;
}
.publicitemcard .price span {
  transform: rotate(180deg);
  text-align: center;
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #4EB5A2;
  color: #fff;
}
.publicitemcard .price span:before {
  content: "¥";
}
.publicitemcard .follow_trend_info {
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  text-align: left;
  margin-top: -10px;
  padding: 10px 0;
}
.publicitemcard .card_infomation {
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  .publicitemcard .squarebox {
    width: 335px;
    height: 335px;
  }
  .publicitemcard .price {
    left: -26px;
    top: 26px;
    height: 335px;
    width: 335px;
  }
}

.masterphotocard {
  position: relative;
}
.masterphotocard .user_thumb {
  width: 24px;
  height: 24px;
}

.articlecard {
  position: relative;
}
.articlecard .authority_stamp {
  -webkit-justify-content: center;
  justify-content: center;
}
.articlecard .user_thumb {
  width: 24px;
  height: 24px;
}

.salecard {
  position: relative;
}
.salecard .user_thumb {
  position: absolute;
  top: 16px;
  left: 16px;
}

.usercard {
  max-width: 500px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
  border: 1px solid #cecece;
  padding: 24px;
  margin-bottom: 48px;
}
.usercard .user_thumb {
  max-width: 80px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
.usercard .card_infomation {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  flex: 7;
  width: calc(338px - (32px + 40px));
  margin-left: 32px;
}
.usercard .card_infomation .name {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 auto 10px auto;
}
.usercard .card_infomation .status_icon {
  max-width: 240px;
}
.usercard .card_infomation .status_icon div img {
  max-width: 20px;
  cursor: auto;
}
.usercard .card_infomation .status_icon div img:hover {
  opacity: 1;
}
.usercard .card_infomation .status_icon div span {
  font-size: 10px;
  font-size: 1.0rem;
}
.usercard .followbtn {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  max-width: 40px;
}

.containercard {
  position: relative;
  border: 1px solid #cecece;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 200px;
}
.containercard:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.containercard .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 60px 60px;
  border-color: transparent transparent transparent #4EB5A2;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}
.containercard .triangle.lock span::after, .containercard .triangle.unlock span::after {
  width: 22px;
  height: 22px;
  padding: 4px;
  position: absolute;
  left: -60px;
  top: 2px;
  border-radius: 100%;
}
.containercard .triangle.lock span::after {
  content: url("../img/ico-lock.svg");
}
.containercard .triangle.unlock span::after {
  content: url("../img/ico-unlock.svg");
}

.remodal .containercard {
  max-width: 190px;
}

@media only screen and (max-width: 480px) {
  .containercard {
    max-width: 335px;
    margin: auto auto 25px auto;
  }
  .containercard:first-child {
    margin-left: auto;
  }
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
*  Owl Carousel - Auto Height Plugin
*/
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
*  Core Owl Carousel CSS File
*/
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
*  Owl Carousel - Lazy Load Plugin
*/
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/*
*  Owl Carousel - Video Plugin
*/
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.owl-thumb-item {
  overflow: hidden;
}
.owl-thumb-item img {
  width: auto;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-thumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.rating_comment .tab_content {
  display: none;
}
.rating_comment .tab_content:target {
  display: block;
}
.rating_comment .tabmenu .radiobtn:checked a {
  color: #000;
}
.rating_comment .user_comment {
  display: flex;
  margin-bottom: 60px;
}
.rating_comment .user_comment .status {
  border-radius: 4px;
  border: 1px solid #4EB5A2;
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
}
.rating_comment .user_comment .user_thumb {
  max-width: 60px;
  margin: auto;
  margin-bottom: 10px;
}
.rating_comment .rating_author {
  min-width: 80px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.rating_comment .rating_author .exhibitor {
  color: #4EB5A2;
}
.rating_comment .rating_author .buyer {
  background-color: #4EB5A2;
  color: #FCFBF9;
}
.rating_comment .rating_stamp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rating_comment .rating_detail {
  width: 100%;
}
.rating_comment .rating_detail .date {
  color: #4EB5A2;
}
.rating_comment .rating_detail .comment {
  text-align: left;
}

.tabmenu ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
}
.tabmenu ul li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 14px 20px 14px 20px;
  border-bottom: 1px solid #95989A;
  margin: 0px auto 60px auto;
}
.tabmenu ul li.active {
  color: #4EB5A2;
  border: 1px solid #4EB5A2;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}
.tabmenu ul li em {
  display: inline-block;
}
.tabmenu ul li em span {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 20px;
  display: inline-block;
  background-color: #5e6067;
  color: #ffffff;
  margin-left: 5px;
  min-width: 30px;
}
.tabmenu #tab-box {
  height: auto;
}
.tabmenu #tab-box .tab_content {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.tabmenu #tab-box .tab_content.active {
  display: block;
}

.status_icon {
  max-width: 300px;
}
.status_icon div {
  min-width: 48px;
  display: inline-block;
}
.status_icon div img {
  max-width: 26px;
  cursor: pointer;
}
.status_icon div img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.status_icon div span {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.status_icon.set_6p {
  max-width: 400px;
}
.status_icon.set_5p {
  max-width: 320px;
}
.status_icon .subbtn {
  margin-right: auto;
}

.progressbar .flexer, .progressbar .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.progressbar .no-flexer, .progressbar .progress-indicator.stacked {
  display: block;
}
.progressbar .no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}
.progressbar .flexer-element, .progressbar .progress-indicator > li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.progressbar .progress-indicator {
  margin: 0;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.progressbar .progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #cecece;
  display: block;
}
.progressbar .progress-indicator > li:hover {
  color: #828282;
}
.progressbar .progress-indicator > li .bubble {
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: #cecece;
  display: block;
  margin: 0 auto 0.5em auto;
}
.progressbar .progress-indicator > li .bubble:before,
.progressbar .progress-indicator > li .bubble:after {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #cecece;
}
.progressbar .progress-indicator > li .bubble:before {
  left: 0;
}
.progressbar .progress-indicator > li .bubble:after {
  right: 0;
}
.progressbar .progress-indicator > li:first-child .bubble:before,
.progressbar .progress-indicator > li:first-child .bubble:after {
  width: 50%;
  margin-left: 50%;
}
.progressbar .progress-indicator > li:last-child .bubble:before,
.progressbar .progress-indicator > li:last-child .bubble:after {
  width: 50%;
  margin-right: 50%;
}
.progressbar .progress-indicator > li.completed {
  color: #4EB5A2;
}
.progressbar .progress-indicator > li.completed .bubble {
  background-color: #4EB5A2;
  color: #4EB5A2;
  border-color: #1f4b43;
}
.progressbar .progress-indicator > li.completed .bubble:before, .progressbar .progress-indicator > li.completed .bubble:after {
  background-color: #4EB5A2;
  border-color: #1f4b43;
}
.progressbar .progress-indicator > li.active {
  position: relative;
  color: #4EB5A2;
}
.progressbar .progress-indicator > li.active .bubble {
  background-color: #4EB5A2;
  color: #4EB5A2;
  border-color: #1f4b43;
  width: 30px;
  height: 30px;
  margin-top: -5px;
}
.progressbar .progress-indicator > li.active .bubble:before, .progressbar .progress-indicator > li.active .bubble:after {
  background-color: #4EB5A2;
  border-color: #1f4b43;
}
.progressbar .progress-indicator > li.active:after {
  width: 10px;
  height: 10px;
  background-color: #FCFBF9;
  content: "";
  display: block;
  border-radius: 1000px;
  position: absolute;
  top: 5px;
  left: calc(50% - (20px / 4));
}
.progressbar .progress-indicator > li a:hover .bubble {
  background-color: #cecece;
  color: #cecece;
  border-color: #828282;
}
.progressbar .progress-indicator > li a:hover .bubble:before, .progressbar .progress-indicator > li a:hover .bubble:after {
  background-color: #cecece;
  border-color: #828282;
}
.progressbar .progress-indicator > li.danger .bubble {
  background-color: #d3140f;
  color: #d3140f;
  border-color: #440605;
}
.progressbar .progress-indicator > li.danger .bubble:before, .progressbar .progress-indicator > li.danger .bubble:after {
  background-color: #d3140f;
  border-color: #440605;
}
.progressbar .progress-indicator > li.warning .bubble {
  background-color: #edb10a;
  color: #edb10a;
  border-color: #5a4304;
}
.progressbar .progress-indicator > li.warning .bubble:before, .progressbar .progress-indicator > li.warning .bubble:after {
  background-color: #edb10a;
  border-color: #5a4304;
}
.progressbar .progress-indicator > li.info .bubble {
  background-color: #5b32d6;
  color: #5b32d6;
  border-color: #25135d;
}
.progressbar .progress-indicator > li.info .bubble:before, .progressbar .progress-indicator > li.info .bubble:after {
  background-color: #5b32d6;
  border-color: #25135d;
}
.progressbar .progress-indicator.stacked > li {
  text-indent: -10px;
  text-align: center;
  display: block;
}
.progressbar .progress-indicator.stacked > li .bubble:before,
.progressbar .progress-indicator.stacked > li .bubble:after {
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 100%;
}
.progressbar .progress-indicator.stacked .stacked-text {
  position: relative;
  z-index: 10;
  top: 0;
  margin-left: 60% !important;
  width: 45% !important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
}
.progressbar .progress-indicator.stacked > li a {
  border: none;
}
.progressbar .progress-indicator.stacked.nocenter > li .bubble {
  margin-left: 0;
  margin-right: 0;
}
.progressbar .progress-indicator.stacked.nocenter > li .bubble:before,
.progressbar .progress-indicator.stacked.nocenter > li .bubble:after {
  left: 10px;
}
.progressbar .progress-indicator.stacked.nocenter .stacked-text {
  width: auto !important;
  display: block;
  margin-left: 40px !important;
}
@media handheld, screen and (max-width: 400px) {
  .progressbar .progress-indicator {
    font-size: 60%;
  }
}

.pictselect {
  margin-top: 25px;
}

.dropzone > span, .dz-clickable > span, .dz-max-files-reached > span {
  position: relative;
  width: 100%;
  height: 250px;
  display: block;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 4px;
}

.dropzone, .dz-clickable, .dz-max-files-reached {
  border: none;
  background-color: transparent;
  padding: 0;
  min-height: auto;
}
.dropzone .fa-image, .dz-clickable .fa-image, .dz-max-files-reached .fa-image {
  display: block;
  margin-top: 80px;
}
.dropzone .fa-image::before, .dz-clickable .fa-image::before, .dz-max-files-reached .fa-image::before {
  font-size: 80px;
  color: #cecece;
}
.dropzone .fa-image:after, .dz-clickable .fa-image:after, .dz-max-files-reached .fa-image:after {
  content: "Drag and drop your files";
  display: block;
}
.dropzone .dz-default, .dz-clickable .dz-default, .dz-max-files-reached .dz-default {
  width: 60%;
  max-width: 300px;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: transparent;
  color: #4EB5A2;
  text-align: center;
  cursor: pointer;
  border: 1px solid #4EB5A2;
  display: block;
  margin: auto;
  margin: 25px auto;
}
.dropzone .dz-preview.dz-image-preview, .dz-clickable .dz-preview.dz-image-preview, .dz-max-files-reached .dz-preview.dz-image-preview {
  background-color: transparent;
}
.dropzone .dz-preview .dz-remove, .dz-clickable .dz-preview .dz-remove, .dz-max-files-reached .dz-preview .dz-remove {
  text-align: center;
  border: 1px solid #4EB5A2;
  border-radius: 20px;
  margin-top: 10px;
  background-color: transparent;
  font-size: inherit;
  width: 40%;
  margin: 10px auto;
  max-width: 200px;
}
.dropzone.dz-drag-hover, .dz-clickable.dz-drag-hover, .dz-max-files-reached.dz-drag-hover {
  border: none;
}
.dropzone.dz-drag-hover .dz-message, .dz-clickable.dz-drag-hover .dz-message, .dz-max-files-reached.dz-drag-hover .dz-message {
  opacity: 1;
}
.dropzone .dz-progress, .dz-clickable .dz-progress, .dz-max-files-reached .dz-progress {
  display: none;
}

#my-preview-dropzone, .previewzone {
  border: none;
  min-height: auto;
  height: auto;
  text-align: center;
}

.drop_mark {
  width: 80px;
  border-radius: 50%;
  background-color: #dddddd;
  padding: 16px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.dz-max-files-reached > span {
  position: relative;
  background-color: #c4c4c4;
}
.dz-max-files-reached > span .fa-image {
  display: none;
}
.dz-max-files-reached > span:after {
  content: "Max Files!!";
  background-image: url(../img/ico-ban-off.svg);
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.dz-max-files-reached .dz-default {
  color: white;
  background-color: #c4c4c4;
  border-color: white;
  cursor: not-allowed;
  pointer-events: none;
}
.dz-max-files-reached .dz-default:hover {
  position: relative;
  top: 0px;
}

.dz-clickable > span {
  position: relative;
  background-color: transparent;
}
.dz-clickable > span .fa-image {
  display: block;
}
.dz-clickable > span:after {
  display: none;
}
.dz-clickable .dz-default {
  pointer-events: auto;
  width: 60%;
  max-width: 300px;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: transparent;
  color: #4EB5A2;
  text-align: center;
  cursor: pointer;
  border: 1px solid #4EB5A2;
  display: block;
  margin: auto;
  margin: 25px auto;
}

.usericon_set {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.usericon_set .dropzone .dz-preview .dz-image {
  border-radius: 100%;
}

.sale .item_card .card_visual {
  max-width: 500px;
}
.sale .item_card .owl-carousel div {
  margin-bottom: 0px;
}
.sale .item_card {
  padding-bottom: 25px;
}
.sale .item_card .status_icon div:nth-child(-n+4) {
  flex-grow: 3;
}
.sale .item_card .status_icon div:nth-child(6) {
  margin-left: 12px;
}
.sale .item_card .card_infomation {
  float: right;
}
.sale .user_info {
  max-width: 500px;
  float: left;
  display: inline-block;
  border: 1px solid #cecece;
  width: 100%;
  padding: 20px;
}
.sale .user_info .authority_stamp {
  margin: auto auto 25px auto;
}
.sale .user_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.sale .user_rating img {
  max-width: 26px;
}
.sale .user_rating img a {
  cursor: pointer;
}
.sale .user_rating img a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}
.sale .user_rating div {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  margin-bottom: 0;
  text-align: center;
}
.sale .sale_info i {
  display: inline-block;
  width: 27px;
}
.sale .sale_info i embed {
  max-width: 24px;
}
.sale .sale_info .addcart {
  text-align: center;
}
.sale .sale_info .addcart .cartbtn {
  display: block;
  margin: auto;
  width: 80px;
  border: 2px solid #4EB5A2;
  border-radius: 50%;
  padding: 16px;
  cursor: pointer;
}
.sale .sale_info dt {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 150px;
  float: left;
  clear: both;
}
.sale .sale_info dd {
  padding: 0px 10px 0px 0;
  margin-left: 160px;
}
.sale .owl-thumb {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sale .owl-thumb-item {
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  background: none;
  padding: 0;
}
.sale .owl-thumb-item:hover {
  cursor: pointer;
}
.sale .owl-thumb-item:focus, .sale .owl-thumb-item.active {
  outline: none;
}
.sale .owl-thumb-item:focus img, .sale .owl-thumb-item.active img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.sale .owl-dots {
  display: none !important;
}

/*# sourceMappingURL=item_sale.css.map */
