@charset "UTF-8";
/* ============================================= */
/* [Common Style] CSS Document                   */
/* date.Jun.2016                                 */
/* Ver.1.0.0                                     */
/*
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
このCSSファイルはSassから生成されていますので、
編集しないようご注意ください。
※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
================================================ */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.contents {
  width: 100%;
}

.sideA {
  width: 0%;
  display: none;
}

.sideB {
  width: 0%;
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  overflow: auto;
}

body {
  overflow: hidden;
}

::selection {
  background: rgba(204, 204, 204, 0.7);
  /* Safari */
}

::-moz-selection {
  background: rgba(204, 204, 204, 0.7);
  /* Firefox */
}

img, video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
img a, video a {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #4EB5A2;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”;
}

.container {
  margin: auto;
}

.contents {
  max-width: 1280px;
  margin: auto;
  padding: 80px;
  background-color: #FCFBF9;
  margin-top: 60px;
}
.contents .unit {
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
}
.contents .textcontents {
  margin: auto;
  width: 500px;
}

.facade {
  width: 100%;
  padding-bottom: 30px;
}

.menu_btn {
  max-width: 40px;
}

.user_thumb {
  max-width: 40px;
}
.user_thumb img {
  border-radius: 50%;
}

.branding {
  max-width: 150px;
}

.center {
  width: 100%;
  text-align: center;
}

.comon_layout {
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.common_bottom {
  margin-bottom: 25px;
}

.flex_container {
  display: flex;
}

.flex_item {
  flex: 1;
}

.header {
  z-index: 3;
}

.remodal-overlay {
  z-index: 9999;
}

.remodal-wrapper {
  z-index: 10000;
}

.token-input-dropdown {
  z-index: 10001 !important;
}

.garage .anystretch {
  z-index: 0 !important;
}
.garage .usrimgfil {
  z-index: 1;
}
.garage .profcontents {
  z-index: 2;
}

/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/
.spinner1 {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dddddd;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.spinner2 {
  width: 40px;
  height: 40px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #dddddd;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner2 .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 {
  top: 0;
  left: 0;
}

.circle2 {
  top: 0;
  right: 0;
}

.circle3 {
  right: 0;
  bottom: 0;
}

.circle4 {
  left: 0;
  bottom: 0;
}

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.spinner3 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #dddddd;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.spinner4 {
  width: 30px;
  height: 30px;
  background-color: #dddddd;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.spinner5 {
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #dddddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.spinner6 {
  width: 50px;
  height: 30px;
  text-align: center;
}

.spinner6 > div {
  background-color: #dddddd;
  height: 100%;
  width: 6px;
  margin-left: 2px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner6 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner6 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner6 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner6 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.spinner7 {
  width: 90px;
  height: 30px;
  text-align: center;
}

.spinner7 > div {
  background-color: #dddddd;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out;
}

.spinner7 .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner7 .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner7 .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner7 .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px);
  }
  20% {
    -webkit-transform: translateY(-20px);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}
@font-face {
  font-family: mplus-1p-regular;
  src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf") format("truetype");
}
@font-face {
  font-family: 'hammocks_font';
  src: url("fonts/hammocksfont/hammocks_font.eot?6ujs2s");
  src: url("fonts/hammocksfont/hammocks_font.eot?6ujs2s#iefix") format("embedded-opentype"), url("fonts/hammocksfont/hammocks_font.ttf?6ujs2s") format("truetype"), url("fonts/hammocksfont/hammocks_font.woff?6ujs2s") format("woff"), url("fonts/hammocksfont/hammocks_font.svg?6ujs2s#hammocks_font") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hammocks_font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-have:before {
  content: "\e900";
}

.icon-ico-feed-off:before {
  content: "\e901";
}

.icon-ico-have-off:before {
  content: "\e902";
}

.icon-ico-more:before {
  content: "\e903";
}

.icon-ico-payment:before {
  content: "\e904";
}

.icon-ico-sale:before {
  content: "\e905";
}

.icon-ico-share-off:before {
  content: "\e906";
}

.icon-ico-shipping:before {
  content: "\e907";
}

.icon-ico-want-off:before {
  content: "\e908";
}

.icon-ico-www:before {
  content: "\e909";
}

.icon-icon_tag:before {
  content: "\e90a";
}

.icon-ico-clip-off:before {
  content: "\e90b";
}

.icon-ico-comment-off:before {
  content: "\e90c";
}

.icon-ico-ban-off:before {
  content: "\e90d";
}

.icon-rate_thunder-off:before {
  content: "\1f323";
}

html {
  font-family: mplus-1c-light, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;
  font-size: 62.5%;
  color: #95989A;
}

body {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  word-break: normal;
  text-align: justify;
  letter-spacing: 0.05rem;
}

.heading1 {
  font-size: 10px;
  font-size: 1rem;
  line-height: 12px;
  line-height: 1.2rem;
}

.heading2 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 30px;
  line-height: 3rem;
  border-radius: 4px;
}

.heading3 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 10px;
  border-bottom: 1px dotted #4EB5A2;
  color: #9E9E9F;
}

.heading4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  line-height: 1.8rem;
}

.heading5 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
}

p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.srash-a:after {
  content: '/';
  margin: 0 0.5em;
}

.srash-b:before {
  content: '/';
  margin: 0 0.5em;
}

.req {
  color: #C9302C;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lines-on-sides {
  display: table;
  text-align: center;
  white-space: nowrap;
}
.lines-on-sides:after, .lines-on-sides:before {
  content: '';
  display: table-cell;
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, currentColor 50%, currentColor calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1px));
  background-clip: padding;
}
.lines-on-sides:after {
  border-left: 1em solid transparent;
}
.lines-on-sides:before {
  border-right: 1em solid transparent;
}

.note {
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 4px;
  padding: 10px;
}

.item_name {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.count {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 28px;
  line-height: 2.8rem;
}

.date {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.comment_txt {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.data {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.tag_nav, .category_nav {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.comment_timeline .timeline .balloon .name {
  font-size: 10px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1.4rem;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
h2{
 color:$text-color;
 @extend .lines-on-sides;
}
*/
h2 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 28px;
  line-height: 2.8rem;
  width: auto;
  max-width: 400px;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  /* for no-flexbox browsers */
}
h2:before, h2:after {
  border-top: 1px solid #cecece;
  content: "";
  display: inline;
  /* for IE */
  flex-grow: 1;
}
h2:before {
  margin-right: 1.5em;
}
h2:after {
  margin-left: 1.5em;
}

.price {
  color: #4EB5A2;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  line-height: 3.6rem;
  display: flex;
  align-items: center;
  text-align: center;
  /* for no-flexbox browsers */
}
.price:before {
  border-top: 1px solid;
  content: "";
  display: inline;
  /* for IE */
  flex-grow: 1;
  margin-right: 1.5em;
}
.price span:before {
  content: "¥";
}

.rating p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
}

.user_comment .rating p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
}

.card .brand_name {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 22px;
  line-height: 2.2rem;
}
.card .card_name {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  margin-top: -0.5em;
}
.card .price {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  display: inline-block;
}
.card .price:before {
  border: none;
  margin: auto;
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  visibility: hidden;
}

input::-ms-reveal {
  visibility: hidden;
}

input, textarea, select {
  border-radius: 4px;
  border: 1px solid #cecece;
  padding: 0.5em 1em;
  color: #95989A;
  background-color: transparent;
  margin: auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.6);
}

::disabled {
  cursor: not-allowed;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-radius: 4px;
  padding: 6px 20px;
  border: 1px solid #4EB5A2;
  background-color: transparent;
}

input:placeholder {
  color: aquamarine;
}

label.titleblock {
  display: block;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin-bottom: 25px;
  display: inline-block;
  position: relative;
  width: 300px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 0.5em 1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  padding-left: 0.8em;
}
input[type="text"]:focus:placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus:placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-moz-placeholder,
input[type="email"]:focus:placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-moz-placeholder {
  color: transparent;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

:placeholder-shown {
  color: #9E9E9F;
}

::-webkit-input-placeholder {
  color: #9E9E9F;
}

::-moz-placeholder {
  color: #9E9E9F;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9E9E9F;
}

/* リサイズの最小値と最大値を指定 */
textarea {
  max-width: 100%;
  width: 500px;
}

.selectform {
  position: relative;
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #cecece;
}
.selectform:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 7px solid #4EB5A2;
}

select {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 200px;
  padding: 0.5em 1em;
  color: #95989A;
  border: none;
  background: transparent;
}

::-ms-expand {
  display: none;
}

input.radiobtn {
  display: none;
}
input.radiobtn:checked + label:before {
  background: #fff;
  border: 1px solid #4EB5A2;
}
input.radiobtn:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
input.radiobtn + label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
input.radiobtn + label:before, input.radiobtn + label:after {
  position: absolute;
  content: '';
  top: 50%;
  border-radius: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input.radiobtn + label:before {
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #f3f3f3;
  border: 1px solid #ccc;
}
input.radiobtn + label:hover {
  color: #096;
  cursor: pointer;
}
input.radiobtn + label:hover:before {
  background: #fff;
}
input.radiobtn + label:after {
  opacity: 0;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #4EB5A2;
  -webkit-transform: scale(2);
  transform: scale(2);
}

input.checkbox {
  display: none;
}
input.checkbox:checked + label:before {
  background: #fff;
  border: 1px solid #4EB5A2;
}
input.checkbox:checked + label:after {
  opacity: 1;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
input.checkbox + label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 22px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input.checkbox + label:before, input.checkbox + label:after {
  position: absolute;
  content: '';
  -webkit-transition: all .2s;
  transition: all .2s;
}
input.checkbox + label:before {
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input.checkbox + label:after {
  opacity: 0;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  border-left: 2px solid #4EB5A2;
  border-bottom: 2px solid #4EB5A2;
  -webkit-transform: rotate(-45deg) scale(0.5);
  transform: rotate(-45deg) scale(0.5);
}
input.checkbox + label:hover {
  color: #4EB5A2;
  cursor: pointer;
}
input.checkbox + label:hover:before {
  background: #fff;
}

input.togglebtn {
  display: none;
}
input.togglebtn + label, input.togglebtn + label::before, input.togglebtn + label::after {
  -webkit-transition: all .2s;
  transition: all .2s;
}
input.togglebtn + label {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 30px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #eee;
}
input.togglebtn + label:before {
  display: block;
  content: attr(data-off-label);
  position: absolute;
  top: 4px;
  right: 12px;
  color: #fff;
  color: #aaa;
}
input.togglebtn + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}
input.togglebtn:checked + label {
  background-color: #4EB5A2;
}
input.togglebtn:checked + label:before {
  content: attr(data-on-label);
  left: 12px;
  right: auto;
  color: #fff;
}
input.togglebtn:checked + label:after {
  left: 36px;
  background-color: #f7f7f7;
}

.button {
  width: 100%;
  border-radius: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  padding: 6px 20px;
  background-color: transparent;
  color: #4EB5A2;
  text-align: center;
  cursor: pointer;
  border: 1px solid #4EB5A2;
  display: block;
  /* &:hover {
    position: relative;
    top: 1px;
   }*/
}
.button a {
  color: #4EB5A2;
}

/*----------------- button size -----------------*/
.btn_size-S.button {
  width: 40%;
  margin: 10px auto;
  max-width: 200px;
}

.btn_size-M.button {
  width: 60%;
  margin: 10px auto;
  max-width: 300px;
}

.btn_size-L.button {
  width: 80%;
  margin: 10px auto;
}

.cancelled {
  cursor: auto;
}
.cancelled:hover {
  position: relative;
  top: 0px;
}

.default-b {
  color: #000;
  background-color: #fff;
  border-color: #e6e6e6;
}

.primary-b {
  color: #FCFBF9;
  background-color: #337AB7;
  border-color: #285f8f;
}

.success-b {
  color: #FCFBF9;
  background-color: #5CB85C;
  border-color: #449d44;
}

.info-b {
  color: #FCFBF9;
  background-color: #31B0D5;
  border-color: #2490af;
}

.danger-b {
  color: #FCFBF9;
  background-color: #C9302C;
  border-color: #9f2623;
}

.warning-b {
  color: #FCFBF9;
  background-color: #ce7070;
  border-color: #c14a4a;
}

.inverse-b {
  color: #FCFBF9;
  background-color: #000;
  border-color: black;
}

.disable-b {
  color: #ababab;
  background-color: #c4c4c4;
  border-color: #ababab;
  cursor: not-allowed;
}
.disable-b:hover {
  position: relative;
  top: 0px;
}

.ghost-b {
  color: #4EB5A2;
  background-color: transparent;
  border: 1px solid #4EB5A2;
}
.ghost-b a {
  color: #4EB5A2;
}

.glass-b {
  display: inline-block;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.reset_cancell-b {
  color: #95989A;
  border-color: #cecece !important;
}

.header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
}
.header .header_wrap {
  max-width: 1280px;
  margin: 0 auto;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.header .level-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
}
.header .searchbar {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
}
.header .searchbar input {
  margin: 0 0 0 0;
}
.header .fixed_menu {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  width: 36px;
  height: 36px;
}

.gloval_nav {
  flex-grow: 2;
}
.gloval_nav ul {
  display: flex;
}
.gloval_nav li {
  margin-right: 20px;
}
.gloval_nav li a {
  color: #95989A;
}

.fixed_menu {
  margin-left: 12px;
}
.fixed_menu .panel-wrap {
  position: relative;
}
.fixed_menu #SettingMenu-btn,
.fixed_menu #UserMenu-btn {
  display: block;
  position: relative;
  z-index: 100;
}
.fixed_menu .panl_theme {
  display: none;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1000;
  width: 200px;
  margin-left: -30px;
  padding: 10px;
  background: #fff;
  border: 1px solid #95989A;
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.fixed_menu .panl_theme:after, .fixed_menu .panl_theme:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}
.fixed_menu .panl_theme:after {
  top: -30px;
  right: 0px;
  border: 15px solid transparent;
  border-bottom: 15px solid #95989A;
}
.fixed_menu li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #95989A;
}

.searchbar {
  position: relative;
}
.searchbar input[type="text"] {
  padding-right: 60px;
  border-radius: 20px;
  background-color: #dddddd;
  border: none;
}
.searchbar :placeholder-shown {
  color: #fff;
}
.searchbar ::-webkit-input-placeholder {
  color: #fff;
}
.searchbar ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.searchbar :-ms-input-placeholder {
  color: #fff;
}
.searchbar input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  border-radius: 20px;
  height: 36px;
  width: 36px;
  padding: 0;
  font-family: FontAwesome;
  color: #fff;
  border-color: #ccc;
}

.footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  bottom: 0;
  /*
   @include sgradient($colors:(
    (rgba(255, 255, 255, 0), 0%),
    ($base-color, 100%)
    ));
  */
}
.footer .copyright {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  clear: both;
}
.footer .branding {
  margin-bottom: 40px;
}

.card .squarebox {
  width: 200px;
  height: 200px;
  margin: auto;
}

.result_card .squarebox {
  width: 150px;
  height: 150px;
  margin: auto;
}

.item_card .squarebox {
  width: 500px;
  height: 500px;
  margin: auto;
}

.container_thumb {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
}
.container_thumb .squarebox {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-bottom: 4px;
}

/*# sourceMappingURL=style.css.map */
