<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>HTMLメールサンプル</title>
  <link rel="stylesheet" type="text/css" href="../../../../public/css/email.css" />
 </head>

 <body bgcolor="#FFFFFF">

  <table class="head-wrap" >
   <tr>
    <td bgcolor="#FCFBF9" height="20px"></td>
   </tr>

   <tr>
    <td class="header" align="center" cellpadding="20">
     <img src="../../../../public/images/mail/brand.png" alt="hammocks" width="100px">
    </td>
   </tr>
  </table><!-- /HEADER -->


  <!-- BODY -->
  <table class="body-wrap">
   <td></td>
   <td class="container" bgcolor="#FFFFFF">

    <div class="content">
     <table>
      <tr>
       <td>

        <h2>hammocks ユーザー登録確認</h2>

        <p>
         ようこそ、<span class="important">{{ $user['name'] }}</span> さん
        </p>
        <br>
        <p>
         ユーザー登録を完了する為に<br>
         下の写真をクリックしてhammocksに"camp in"してください。
        </p>


       </td>
      </tr>
     </table>
    </div>

   </td>
   <td></td>
  </table><!-- /BODY -->





  <!-- FOOTER -->
  <table class="footer-wrap" bgcolor="#FCFBF9">
   <tr align="center">
    <a href="{{ url('auth/confirm', [$token]) }}">
     <img src="../../../../public/images/mail/campin.jpg" alt="hammocks CAMP IN">
    </a>
   </tr>

   <tr bgcolor="#FFFFFF">
    <td></td>
    <td class="container">
    <div class="content">
     <table>
      <tr>
       <td>
        <p class="note">
         このメールは、アウトドアギアフィールド「hammocks」にご登録いただいた方にお送りしております。
         万が一「hammocks」のご利用についてお心当たりがない場合は、直ちに「<a href="#">hammocksサポートセンター</a>」までご連絡いただいたのち、こちらのメールは破棄していただきますようお願いいたします。
        </p>
       </td>
      </tr>
     </table>
    </div><!-- /content -->
    </td>
    <td></td>
   </tr>

   <tr>
    <td></td>
    <td class="container">

     <!-- content -->
     <div class="content">
      <table>
       <tr>
        <td align="center" class="footerbrand"><img src="../../../../public/images/mail/brand.png" alt="hammocks" width="124px"></td>
       </tr>

       <tr>

        <td  align="center" class="snsicon">
             <a href="">
              <img src="../../../../public/images/mail/ico-facebook-8.png" alt="" width="42">
             </a>
             <a href="">
              <img src="../../../../public/images/mail/ico-twitter-8.png" alt="" width="42">
             </a>
             <a href="">
              <img src="../../../../public/images/mail/ico-insta-8.png" alt="" width="42">
             </a>
             <a href="">
              <img src="../../../../public/images/mail/ico-google-p-8.png" alt="" width="42">
             </a>
             <a href="">
              <img src="../../../../public/images/mail/ico-pinterest-8.png" alt="" width="42">
             </a>
            </td>
       </tr>

       <tr>
        <td align="center">
         <p class="footermenu">
          <a href="#">利用規約</a>
          <a href="#">プライバシーポリシー</a>
          <a href="#">お問い合わせ</a>
         </p>
        </td>
       </tr>

      </table>
     </div><!-- /content -->

    </td>
    <td></td>
   </tr>
  </table><!-- /FOOTER -->


 </body>
</html>
