{% extends "templates/common/transaction_base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block status1st %}
評価
{% endblock %}

{% block status2nd %}
商品が到着しました
{% endblock %}



{% block announce %}
<p>商品が到着して評価をされました</p>
<p>購入者への評価をお願いします</p>

<a data-remodal-target="UserRating_input" class="button btn_size-M">評価する</a>


{% endblock %}

{% block UniqueModal %}
{% embed "partial/common/modal/modal-userrating_input.twig" %}
{% endembed %}
{% endblock %}

{% block bottom_js %}
{% endblock bottom_js %}
