{% extends "templates/common/transaction_base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block status1st %}
商品運搬中
{% endblock %}

{% block status2nd %}
発送が完了しました
{% endblock %}



{% block announce %}
<p>商品到着連絡がくるまでしばらくお待ち下さい</p>


 <a href="4" class="button btn_size-M">テスト スキップ</a>


{% endblock %}

{% block UniqueModal %}
{% endblock %}

{% block bottom_js %}
{% endblock bottom_js %}
