{% extends "templates/common/register_base.twig" %}


{% block contents %}
<h2>アウトドアギア登録</h2>

 <div class="unit formcontents">
  <form method="post" id="item-register-form">

   <div class="form_gr common_bottom">
   <div class="comon_layout">
   {% include 'partial/common/input/brand-select.twig' %}
   </div>

   <div class="comon_layout">
   {% include 'partial/common/input/item_name-select.twig' %}
   </div>
   </div><!-- /.form_gr -->

   <p class="button btn_size-S disable-b" id="regist-ok">検索</p>

  </form>
 </div><!--//formcontents-->

 {% embed "partial/common/modal/modal-gearsearch.twig" %}
 {% endembed %}

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="{{ asset('js/itemRegisterStep1.js') }}" ></script>
{% endblock bottom_js %}
