{% extends "templates/common/register_base.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block contents %}
<h2>登録完了</h2>

<div class="textcontents center unit">
 <p class="common_bottom">
 無事に登録が完了しました。<br>
 画像審査後、問題がなければ掲載いたしますのでしばらくお待ちください。
 </p>

 <a href="/item/register"><p class="button btn_size-S">続けて登録する</p></a>
</div>


{% endblock contents %}


{% block bottom_js %}{% endblock bottom_js %}
