
    <div class="user_comment">
     <div class="rating_author">
      <div class="user_thumb">
       <a href=""><img src="/images/user_default.png"></a>
      </div><!--//user_thumb-->
      <p class="status exhibitor">出品者</p>
     </div><!--//rating_author-->

     <div class="rating_detail">
      <div class="rating_stamp">
       <p class="name">User_NameUser_NameUser_NameUser</p>
       <time class="date">2014-04-08 02:25:32</time>
      </div><!--//rating_stamp-->
      <div class="comment">
       バス釣りとライフスタイルを融合させ、アングラーのデイリーウエアをファッションとして確立させた「バスブリゲード」とのコラボ第2弾。今回はプレミアムクオリティのボディを使ったTシャツが登場。
      </div><!--//comment-->
     </div><!--//rating_detail-->
    </div><!--//user_comment-->


    <div class="user_comment">
     <div class="rating_author">
      <div class="user_thumb">
       <a href=""><img src="/images/user_default.png"></a>
      </div><!--//user_thumb-->
      <p class="status buyer">購入者</p>
     </div><!--//rating_author-->

     <div class="rating_detail">
      <div class="rating_stamp">
       <p class="name">User_NameUser_NameUser_NameUser</p>
       <time class="date">2014-04-08 02:25:32</time>
      </div><!--//rating_stamp-->
      <div class="comment">
       とてもスムーズに対応して頂きありがとうございました。
       また機会がありました際には宜しくお願い致します(*^^*)
      </div><!--//comment-->
     </div><!--//rating_detail-->
    </div><!--//user_comment-->
