{% extends "templates/common/user_garage.twig" %}

{% block stylesheets %}{% endblock stylesheets %}
{% block top_js %}{% endblock top_js %}

{% block contents %}

<h2>評価一覧</h2>

<section class="rating_comment">

 <div class="tabmenu" id="tab-menu">
  <ul>
   <li class="active">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <g>
    <path d="M22.23,9.856h3.542a.547.547,0,0,0,.541-.817l-1.97-4.7c-.189-.449-.5-.449-.685,0l-1.971,4.7A.547.547,0,0,0,22.23,9.856Z"/>
    <path d="M25.772,38.144H22.23a.547.547,0,0,0-.543.817l1.971,4.7c.188.449.5.449.685,0l1.97-4.7A.546.546,0,0,0,25.772,38.144Z"/>
    <path d="M24,12.257A11.743,11.743,0,1,0,35.744,24,11.756,11.756,0,0,0,24,12.257ZM24,33.5A9.5,9.5,0,1,1,33.5,24,9.511,9.511,0,0,1,24,33.5Z"/>
    <path d="M9.856,22.23a.547.547,0,0,0-.817-.542l-4.7,1.971c-.449.188-.449.5,0,.685l4.7,1.97a.547.547,0,0,0,.817-.542Z"/><path d="M43.663,23.658l-4.7-1.971a.547.547,0,0,0-.816.543v3.542a.547.547,0,0,0,.816.542l4.7-1.97C44.112,24.154,44.112,23.846,43.663,23.658Z"/>
    <path d="M12.747,32.749a.547.547,0,0,0-.961.194L9.854,37.662c-.185.45.033.669.484.485l4.719-1.932a.547.547,0,0,0,.2-.96Z"/><path d="M35.255,15.252a.546.546,0,0,0,.96-.195l1.932-4.718c.184-.452-.034-.67-.485-.485l-4.719,1.932a.547.547,0,0,0-.193.961Z"/>
    <path d="M36.215,32.943a.547.547,0,0,0-.962-.194l-2.5,2.5a.547.547,0,0,0,.194.96l4.719,1.932c.451.184.669-.034.484-.485Z"/>
    <path d="M11.786,15.057a.547.547,0,0,0,.961.195l2.5-2.5a.547.547,0,0,0-.193-.961L10.338,9.854c-.45-.185-.669.033-.485.485Z"/>
    </g>
    </svg>
   <em>問題なし<span>888</span></em>
   </li>
   <li>

   <em>問題あり<span>1.22K</span></em>
   </li>
  </ul>

  <!-- タブの中身 -->
  <div id="tab-box" class="textcontents">

   <div class="tab_content active">

    {% include 'partial/common/list-user_rating.twig' %}
    {% include 'partial/common/list-user_rating.twig' %}
    {% include 'partial/common/list-user_rating.twig' %}
    {% include 'partial/common/list-user_rating.twig' %}


   </div><!--//tab_content-->


   <div class="tab_content">

    {% include 'partial/common/list-user_rating.twig' %}
    {% include 'partial/common/list-user_rating.twig' %}

   </div><!--//tab_content-->

  </div><!--//tab-box-->
 </div><!-- /.tab-menu -->

</section><!--//rating_comment-->

{% endblock contents %}


{% block bottom_js %}
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
<script src="{{ asset('js/jquery.anystretch.js') }}" ></script>
<script>
 console.log('[anystretch]');
 $('.profcover').anystretch("http://hanmmocks.com/images/user_cover.jpg");

 $(function(){
  $('#tab-menu li').on('click', function(){
   if($(this).not('active')){
    // タブメニュー
    $(this).addClass('active').siblings('li').removeClass('active');
    // タブの中身
    var index = $('#tab-menu li').index(this);
    $('#tab-box .tab_content').eq(index).addClass('active').siblings('.tab_content').removeClass('active');
   }
  });
 });

</script>


{% endblock bottom_js %}
