{% extends "templates/common/base.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/setting.css') }}" media="all" />
<link rel="stylesheet" href="{{ asset('css/pages/watching.css') }}" media="all" />
{% endblock stylesheets %}


{% block contents %}

<h2>ウォッチリスト</h2>
<div class="">
 {% include 'partial/common/list-gear.twig' %}
 {% include 'partial/common/list-gear.twig' %}
 {% include 'partial/common/list-gear.twig' %}
</div>

{% endblock contents %}


{% block bottom_js %}
<script>
 $(function(){
  $('#tab-menu li').on('click', function(){
   if($(this).not('active')){
    // タブメニュー
    $(this).addClass('active').siblings('li').removeClass('active');
    // タブの中身
    var index = $('#tab-menu li').index(this);
    $('#tab-box .tab_content').eq(index).addClass('active').siblings('.tab_content').removeClass('active');
   }
  });
 });
</script>

{% endblock bottom_js %}
