

  <table class="head-wrap" >
   <tr>
    <td bgcolor="#EFEDE2" height="20px"></td>
   </tr>

   <tr>
    <td class="header" align="center" cellpadding="20">
     <img src="{{ asset('images/mail/brand.png') }}" alt="hammocks" width="100px">
    </td>
   </tr>
  </table><!-- /HEADER -->

