//見出しやテキスト、ボタンなどの両脇にラインを配置する
.has-lines {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
 text-align: center;
 -webkit-box-pack: center;
 -webkit-justify-content: center;
 -ms-flex-pack: center;
 justify-content: center;

 &:before,
 &:after {
  content: '';
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  background: #ccc;
  min-width: 20px;
  display: inline-block;
  vertical-align: middle;
 }
 &:before {
  margin-right: 20px;
 }
 &:after {
  margin-left: 20px;
 }
}//has-lines


//両脇から伸びたラインでぐるっと囲む
.linebox {
 position: relative;
 //width: 900px;
 //max-width: 80%;
 border: 1px solid $line-color;
 border-top: none;
 text-align: center;
 margin: 60px auto;
 padding: 0 50px 25px 50px;//common_bottom*2  common_bottom common_bottom*2

 .linebox_title {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
 }

 .top-border{
  position: absolute;
  height: 1px;
  width: 24%;
  background-color: $line-color;

  &.right {   right: 0;  }
  &.left {   left: 0;  }
 }//top-border

 @media (max-width: 685px) {
  .top-border {
   width: 18%;
  }
 }

 .linbox_box{
  text-align: left;
 }//.linbox_box

}//linebox


.intermission{
 margin: $common_mr-bt *4 auto;
 @extend .has-lines;
 img{
  $deco_size:48px;
  width: $deco_size;
  height: $deco_size;
 }
}//intermission


.section p {
 width: 61%;
 margin: 20px auto 40px auto;
 line-height: 30px;
}

.section a {
 outline: 0;
 display: inline-block;
 padding: 20px;
 margin-bottom: 40px;
 width: 440px;
 max-width: 80%;
 background-color: #333;
 color: #fff;
 font-size: 22px;
 letter-spacing: 3px;
 transition: all 0.3s ease 0s;
 -moz-transition: all 0.3s ease 0s;
 -webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
 background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
 text-decoration: none;
 color: #fff;
}
