{% extends "templates/common/base.twig" %}

{% block Body_class %}
<body class="{{ route_class }} payment_confirm">
 {% endblock Body_class %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/payment_confirm.css') }}" media="all" />
{% endblock stylesheets %}

{% block top_js %}
{% endblock top_js %}


{% block contents %}

<h2>購入手続き</h2>

<div class="textcontents">

 <div class="shipping_info">

 {% include 'partial/common/list-gear.twig' %}


  <dl class="common_dl formcontents">
   <dt>商品の状態</dt>
   <dd>新品、未使用</dd>

   <dt>送料</dt>
   <dd>送料込み(出品者負担)</dd>

   <dt>発送方法</dt>
   <dd>宅急便（ヤマト運輸）</dd>

   <dt>発送元</dt>
   <dd>大阪府</dd>

   <dt>発送日までの日数</dt>
   <dd>入金を確認してから1～2日で発送</dd>
  </dl>
 </div><!--//shipping_info-->


 <div class="customerinfo">
  <dl class="table_layout">
   <dt>配送先</dt>
   <dd>
    <p>〒018-3314</p>
    <p>秋田県北秋田郡上小阿仁村大字沖田面字小蒲野下タ川原3-4-5</p><!--//Address01-->
    <p>グリーンパレスアーバンビルトマンション808号室</p><!--//Address02ビル・建物名-->
   </dd>
   <dd class="table__col--s">
    <a data-remodal-target="Edit-Address" class="button btn_size-S">変更する</a>
   </dd>
  </dl>

  <dl class="table_layout">
   <dt>お支払い方法</dt>
   <dd>選択してください</dd>
   <dd class="table__col--s">
    <a data-remodal-target="Edit-Payment" class="button btn_size-S">変更する</a>
   </dd>
  </dl>

  <dl class="table_layout">
   <dt>売上金利用</dt>
   <dd>利用可能な売上金はありません</dd>
   <dd class="table__col--s">
    <a data-remodal-target="Edit-Proceeds" class="button btn_size-S disable">変更する</a>
   </dd>
  </dl>
 </div><!--//customerinfo-->


 <div class="total_price">
  <p class="price">お支払い金額<span>600</span></p>
 </div>


<p class="button btn_size-M">購入を確定する</p>

</div><!--//textcontents-->


<!--//Modal-->
 {% embed "partial/common/modal/modal-edit-address.twig" %}
 {% endembed %}

 {% embed "partial/common/modal/modal-edit-payment.twig" %}
 {% endembed %}

 {% embed "partial/common/modal/modal-edit-proceeds.twig" %}
 {% endembed %}


 {% embed "partial/common/modal/modal-edit-creditcard.twig" %}
 {% endembed %}


{% endblock contents %}


{% block bottom_js %}
 <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script src="{{ asset('js/vendor/remodal.min.js') }}" ></script>
 <script src="{{ asset('js/vendor/card.js') }}" ></script>

 <script>
  $(function(){

   new Card({
    form: document.querySelector('#card_info'),
    container: '.card-wrapper',

    formSelectors: {
     numberInput: 'input#cardnumber', // optional — default input[name="number"]
     expiryInput: 'input#expiry', // optional — default input[name="expiry"]
     cvcInput: 'input#cvc', // optional — default input[name="cvc"]
     nameInput: 'input#cardname' // optional - defaults input[name="name"]
    },
   });

  });
 </script>
{% endblock bottom_js %}
