<div class="remodal" data-remodal-id="Edit-Proceeds" data-remodal-options="hashTracking:false">
 <button data-remodal-action="close" class="remodal-close"></button>

 <section class="proceeds">
  <h2>売上金を利用する</h2>


  <div class="common_bottom">
利用可能売上金
  ￥1,500

  </div>

  <div class="common_bottom">
  <input type="number" placeholder="0">
</div>



 </section><!--//proceeds-->


 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">キャンセル</button>
  <button data-remodal-action="confirm" class="button btn_size-M">利用する</button>
 </div><!--//modalbtn_set-->

</div><!-- //remodal -->
