<div class="remodal" data-remodal-id="GearSearch" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>


 <section id="gear_search_result">
<h1 id="search_word_title"></h1>
<div class="comon_layout" id="item_completion_area">
</div><!--//result_list-->
 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">検索をやり直す</button>
  <button data-remodal-action="confirm" class="button btn_size-M disable-b" id="toStep2Btn">上記にない場合はこちら</button>
 </div><!--//modalbtn_set-->

</div><!-- //remodal -->
