<div class="remodal" data-remodal-id="SNS_Share" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block SNS_Share_Contents %}
 <section>
  <h2>アイテムの削除</h2>

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>
  <button data-remodal-action="confirm" class="button btn_size-M">OK</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
