<div class="remodal" data-remodal-id="Aup" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block Ban_Contents %}
 <section class="">
  <h2>hammocks利用規約</h2>

  <div class="textcontents normal_text">
   {% include 'partial/common/text-aup.twig' %}
  </div><!-- /.textcontents -->

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
