<div class="remodal" data-remodal-id="ItemEdit-Article" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block ItemEditcomt_Contents %}
 <section>
  <h2>編集</h2>
  <div class="madalformcontents">
   <ul>
    <li id="item_edit_disp_btn">アイテム編集</li>
    <li data-remodal-target="ItemEditSale">このアイテムを販売する</li>
    <li>アイテムの削除</li>
   </ul>
  </div><!--//madalformcontents-->
 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>
  <button data-remodal-action="confirm" id="description_edit_btn" class="button btn_size-M">更新</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
