<div class="remodal" data-remodal-id="Acount-password" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>


 <section class="password_edit">
  <h2>アイテムを編集する</h2>

  <div class="madalformcontents">
  <label for="demo" class="titleblock">使っているパスワード</label>
  <input type="password" id="password" class="form_size-L" name="password" maxlength="36">

  <label for="demo" class="titleblock">新しいパスワード</label>
  <input type="password" id="new_password" class="form_size-L" name="New_password" maxlength="36">

  <label for="demo" class="titleblock">新しいパスワード確認</label>
  <input type="password" id="re_password" class="form_size-L" name="Re_password" maxlength="36">
  </div><!--//madalformcontents-->

 </section><!--//password_edit-->

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>
  <button data-remodal-action="confirm" class="button btn_size-M" id="updatePassword">パスワードを変更する</button>
 </div><!--//modalbtn_set-->

</div><!-- //remodal -->
