{% block ModalD %}
<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking:false">
 {% endblock %}
 <button data-remodal-action="close" class="remodal-close"></button>

 {% block ModalContents %}
 <h1>タイトル</h1>
 {% include 'partial/common/input/pict-select.twig' %}
 {% include 'partial/common/input/brand-select.twig' %}
 {% include 'partial/common/input/item_name-select.twig' %}
 {% include 'partial/common/input/tag-select.twig' %}

 <br>

 <img src="{{ asset('images/menu.svg') }}">
 <p>コンテンツを記述します。</p>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">Cancel</button>
  <button data-remodal-action="confirm" class="button btn_size-M">OK</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div>
