<div class="remodal" data-remodal-id="Edit-Payment" data-remodal-options="hashTracking:false">
 <button data-remodal-action="close" class="remodal-close"></button>

 <section class="payment_method">
  <h2>お支払い方法を変更する</h2>


  <div class="common_bottom">
   <p class="title">クレジットカードで支払う（決済手数料 ￥ 0）</p>
   <a class="button btn_size-M" data-remodal-target="Edit-Creditcard">クレジットカードを選択する</a>
  </div>


  <div class="common_bottom">
   <p class="title">コンビニで支払う（決済手数料 ￥216）</p>

 <input type="radio" id="conveni01" class="radiobtn" name="payment_method">
 <label for="conveni01">ローソン</label>

 <input type="radio" id="conveni02" class="radiobtn" name="payment_method">
 <label for="conveni02">ファミリーマート</label>

 <input type="radio" id="conveni03" class="radiobtn" name="payment_method">
 <label for="conveni03">セイコーマート</label>

 <input type="radio" id="conveni04" class="radiobtn" name="payment_method">
 <label for="conveni04">ミニストップ</label>

 <input type="radio" id="conveni05" class="radiobtn" name="payment_method">
 <label for="conveni05">サークルKサンクス</label>

 <input type="radio" id="conveni06" class="radiobtn" name="payment_method">
 <label for="conveni06">デイリーヤマザキ</label>

 <input type="radio" id="conveni07" class="radiobtn" name="payment_method">
 <label for="conveni07">スリーエフ</label>

</div>


  <div class="common_bottom">
   <p class="title">ペイジーで支払う（決済手数料 ￥216）</p>

 <input type="radio" id="pay_easy-atm" class="radiobtn" name="payment_method">
 <label for="pay_easy-atm">ATM（ペイジー）</label>

 <input type="radio" id="pay_easy-bank" class="radiobtn" name="payment_method">
 <label for="pay_easy-bank">ネット銀行（ペイジー）</label>

</div>


<div>
 ※お取引がキャンセルされた場合、コンビニ、ATM（ペイジー）でのお支払いにかかる決済手数料は返金されません。

</div>
 </section><!--//password_edit-->


 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">キャンセル</button>
  <button data-remodal-action="confirm" class="button btn_size-M">変更する</button>
 </div><!--//modalbtn_set-->

</div><!-- //remodal -->
