<div class="remodal" data-remodal-id="Ban" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block Ban_Contents %}
 <section>
  <h1>問題報告</h1>

  <input type="radio" id="BanCheck01" name="BanCheck" class="radiobtn" value="1">
  <label for="BanCheck01">重複アイテムの報告</label>

  <input type="radio" id="BanCheck02" name="BanCheck" class="radiobtn" value="2">
  <label for="BanCheck02">違反報告する</label>

  <input type="radio" id="BanCheck03" name="BanCheck" class="radiobtn" value="3">
  <label for="BanCheck03">商標・著作権侵害</label>

  <textarea rows="10" placeholder="ご報告内容" id="banReportText"></textarea>


  <div class="note_area">

   <div class="common_bottom">
   こちらの報告に対して運営側より回答をお送りすることは基本的にはありません。<br>
    もし会員以外の方でご報告に対しての回答が必要な方は恐れ入りますが上記のフォーム内にご連絡先の記入をお願いいたします。
   </div>

  </div>

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>
  <button data-remodal-action="confirm" class="button btn_size-M disable-b" id="sendBanReport">送信</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
