<div class="remodal" data-remodal-id="SNS_Share" data-remodal-options="hashTracking:false">
 <button data-remodal-action="close" class="remodal-close"></button>


 <section class="modal-sns_share">
  {% block SNS_Title %}
  <h1>このログを共有する</h1>
  {% endblock SNS_Title %}

  <div class="snsicon">

   <ul>
    <li class="facebook_back">
     <a href="{{ sns_links.facebook.link }}" target="_blank" title="Facebookでシェア">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <span>facebook</span>
     </a>
    </li>

    <li class="twitter_back">
     <a href="" target="_blank" title="Twitterでシェア">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <span>Twitter</span>
     </a>
    </li>

    <li class="google_back">
     <a href="" target="_blank" title="Google+で共有">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <span>Google+</span>
     </a>
    </li>

    <li class="pinterest_back">
      <a href="" target="_blank" title="Pinterestに登録">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
       <span>Pinterest</span>
     </a>
    </li>
   </ul>

  </div>

 </section>


</div><!-- //remodal -->







