<div class="remodal" data-remodal-id="Pict_select_url" data-remodal-options="hashTracking:false">
  <button data-remodal-action="close" class="remodal-close"></button>

 {% block Pict_Select_Url_Contents %}
 <section>
    <h1>web image select</h1>
    <div id="modal_pict_select_url_list">
    </div>
 </section>
 {% endblock %}
</div><!-- //remodal -->
