<div class="remodal" data-remodal-id="Edit-Address" data-remodal-options="hashTracking:false">
 <button data-remodal-action="close" class="remodal-close"></button>

 <section class="address_edit">
  <h2>住所を変更する</h2>

 {% include 'partial/common/input/address-input.twig' %}

 </section><!--//password_edit-->


 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">キャンセル</button>
  <button data-remodal-action="confirm" class="button btn_size-M">変更する</button>
 </div><!--//modalbtn_set-->

</div><!-- //remodal -->
