<div class="remodal" data-remodal-id="Category_genre" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block Comment_Contents %}
 <section id="category_select_list">
 </section>

 <div class="modalbtn_set">
 <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>

 <button data-remodal-action="confirm" class="button btn_size-M">全て</button>
 </div><!--//modalbtn_set-->
 {% endblock %}
</div><!-- //remodal -->
