<div class="remodal" data-remodal-id="Edit-Log" data-remodal-options="hashTracking:false">

 <button data-remodal-action="close" class="remodal-close"></button>

 {% block ItemEditcomt_Contents %}
 <section>
  <h2>logを編集する</h2>

  <div class="madalformcontents">

  <ul>
   <li class="common_bottom"><a data-remodal-target="Edit-Log-Comment" class="button btn_size-M">コメントを編集</a></li>
   <li><a id="deleteLogLink" class="button btn_size-M">このlogを削除</a></li>
  </ul>
  <input type="hidden" id="logEditArticleId" value="">
  </div><!--//madalformcontents-->

 </section>

 <div class="modalbtn_set">
  <button data-remodal-action="cancel" class="button btn_size-M reset_cancell-b">閉じる</button>
 </div><!--//modalbtn_set-->

 {% endblock %}
</div><!-- //remodal -->
