input.radiobtn{
 display: none;
 &:checked + label{
  &:before {
  background: #fff;
   border: 1px solid $main-color;
 }
  &:after {
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
  }
 }//checked


 &+ label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;

  &:before,&:after {
   position: absolute;
   content: '';
   top: 50%;
   border-radius: 100%;
   -webkit-transition: all .2s;
   transition: all .2s;
  }

  &:before {
   left: 0;
   width: 14px;
   height: 14px;
   margin-top: -8px;
   background: #f3f3f3;
   border: 1px solid #ccc;
  }

  &:hover {
   color: #096;
   cursor: pointer;
   &:before {
    background: #fff;
   }
  }//hover

  &:after {
   opacity: 0;
   left: 4px;
   width: 8px;
   height: 8px;
   margin-top: -4px;
   background: $main-color;
   -webkit-transform: scale(2);
   transform: scale(2);
  }

 }//label

}//radiobtn
