/* リサイズの最小値と最大値を指定 */
textarea {
 max-width: 100%;
 width: 500px;
}

.autotext{
 min-height: 38px !important;
}


//textareaのリサイズ機能を制限
//* 横のみリサイズ可 */
//textarea { resize: horizontal;}

//* 縦のみリサイズ可 */
//textarea { resize: vertical;}

//* 縦横ともにリサイズ不可 */
//textarea { resize: none;}
