{% extends "templates/common/base.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/pages/index.css') }}" media="all" />
{% endblock stylesheets %}

{% block top_js %}

{% endblock top_js %}

{% block contents %}
<input type="hidden" id="offset" value="0" />
<p>index</p>
<div class="card_flex"></div><!--//card_flex-->
{% endblock contents %}


{% block bottom_js %}
   <script src="{{ asset('js/searchResult.js') }}"></script>
   <script src="{{ asset('js/itemListUser.js') }}"></script>
{% endblock bottom_js %}
